[2014-12-01 03:08] tarcieri opened #21 "scrypt support"
It'd be nice if the `crypto_pwhash_scryptsalsa208sha256` and `crypto_pwhash_scryptsalsa208sha256_ll` APIs were exposed.

This is something I can work on myself if you'd like to see it added.

[2014-12-11 10:07] dnaq opened #24 "non-allocating primitives for asymmetricbox and secretbox"
Right now the primitives used by asymmetricbox and secretbox return a Vec<u8> for ciphertexts and plaintexts. There are use-cases where dynamic memory allocation might not be possible, thus we need to add primitives that modify their arguments in-place.

Work is ongoing in the box_inplace branch, d1f6cbb6f21418c40286d118a3105c2dd0fe9f9f

[2015-01-14 13:53] dnaq commented on #21
Sorry that it has taken so long, I lost a lot of work due to hardware failure.

[2015-01-14 17:21] tarcieri commented on #21
Me too, been meaning to work on this myself, but if you'd like to go for it, be my guest ;)

I saw that there's an implementation in rust-crypto as well (which confusingly shares the same "crypto" namespace)

[2015-02-01 12:31] dnaq opened #35 "slicing (discussion issue)"
Previously all newtypes in sodiumoxide defined an `as_slice()` and an `as_mut_slice()` methods that could be used to access their contents. However since rust is moving away from those methods in general they were replaced by implementations of `Index<Range>`, `Index<RangeFrom>`, `Index<RangeTo>` and `Index<RangeFull>`, thus allowing a user to slice the newtypes using the range syntax. e.g. `newty

[2015-02-04 15:31] actimehl commented on #35
Simply because of the expectation that if slicing is supported all ranges should be supported, i'd support them all. Further if RangeFull is supported you can always double slice to a shorter range `let b = &a[][1..3]`, this would be only annoyance.

[2015-02-04 18:50] dnaq commented on #35
I felt the same way because of symmetry, what do you think about mutable slices?

[2015-03-20 14:07] dirvine opened #43 "crates.io ?"
Is there any move to put this library on crates.io or would there be any resistance to another project forking and doing this? Of course if this project were on crates.io it would make it much simpler to use and in fact is a requirement I think for any crate on crates.io and the like to be able to use it.

Thanks for your time.

[2015-03-20 14:16] actimehl commented on #43
I think libsodium-sys and sodiumoxide should be put on crates.io

[2015-03-20 14:24] dnaq commented on #43
I agree. I tried to upload it to crates.io a while ago, but crates.io didn't seem to handle subprojects (libsodium-sys is a subproject of sodiumoxide). If anyone knows how to work the Cargo.toml magic in order to make it work I would be grateful.

[2015-03-20 14:37] actimehl commented on #43
Maybe sodiumoxide and libsodium-sys have to be uploaded as independent projects.

[2015-03-20 14:46] dirvine commented on #43
It will be much easier if libsodium-sys were a separate crate and then sodiumoxide used it as a crate for sure.

[2015-03-20 14:48] actimehl commented on #43
They are separate crates but live in the same repo.

[2015-03-20 14:57] dnaq commented on #43
@actimehl I think they might have to be, but I haven't found out how to have Cargo depend on the in-tree libsodium-sys when building locally and depending on a crates.io version when installing with cargo

There is probably a smart way to solve this, but I haven't found it yet.

[2015-03-20 15:06] actimehl commented on #43
Look at https://github.com/alexcrichton/git2-rs for example. There are https://crates.io/crates/git2 and https://crates.io/crates/libgit2-sys. I think the *-sys packages has to be uploaded first.

[2015-03-25 11:48] dnaq commented on #43
SodiumOxide is now on crates.io

[2015-03-25 11:48] #43 closed

[2015-03-25 15:00] dirvine commented on #43
Fantastic, Thx very much

[2015-03-25 23:40] dirvine opened #45 "Nightly does not allow - in names any more"
FYI I have logged an issue with  https://github.com/zonyitoo/libsodium-sys/issues/1 to describe the problem. Typically great timing, but an easy enough fix this time. I did not dare a pull request to change crate names so lets hope.

[2015-03-26 08:31] dnaq commented on #45
Fixed by f29fdb30e828939dc3f9c82061efc6c251951ed3

[2015-03-26 08:31] #45 closed

[2015-04-04 12:13] #35 closed

[2015-04-04 12:19] dnaq opened #51 "Issues blocking rust-1.0-beta compatibility"
For now sodiumoxide is compatible with rust-nightly, but not with rust-1.0-beta. There are three reasons for this, only one of which is critical.

1. `std::intrinsics::volatile_set_memory()` is unstable, and thus not available in the rust beta. This is the critical issue, I'm not comfortable with not having this intrinsics since sodiumoxide is a cryptographic library and we need reasonable guarant

[2015-04-04 14:35] kmcallister commented on #51
Seems like they should be behind a Cargo feature, then.

How about calling into C?

[2015-04-04 17:38] PeterReid commented on #51
Why not use sodium_memzero for this?

[2015-04-04 19:31] dnaq commented on #51
I'll go with `sodium_memzero()`. Thanks for the tip, I've mostly focused on the NaCl-subset of libsodium, so I had all but forgotten about `sodium_memzero()`.

[2015-04-04 19:37] tarcieri commented on #51
@dnaq `sodium_malloc` is pretty cool too :wink:

[2015-04-04 20:17] #51 closed

[2015-04-04 20:34] dnaq commented on #51
@tarcieri `sodium_malloc()` is indeed interesting, but it should probably be wrapped behind a `SecureBox` or something like that to be usable in a good way in rust. Also a design goal of sodiumoxide is to be usable on embedded systems as well, so we need to be able to stack allocate keys, nonces, et.al as well.

[2015-04-17 07:36] dnaq opened #54 "rename asymmetricbox to box_"
In NaCl (and libsodium) the asymmetric box primitive is named `crypto_box()`. However, since `box` is a reserved keyword in rust we can't name our corresponding module `crypto::box`. At the moment the module is named `crypto::asymmetricbox`.

Would you agree with the module being renamed to `crypto::box_` or do you think the name should stay the same?

[2015-04-17 08:30] jedisct1 commented on #54
In Scala, reserved words can still be used as identifiers by enclosing them in backquotes.
Maybe a good opportunity to propose a RFC to support something similar in Rust?

Meanwhile, my vote would go to `crypto::box_` for consistency.

[2015-04-20 13:09] dnaq commented on #54
I agree with `crypto::box_`, keeping the issue open for a while to see if anyone else chimes in.

[2015-04-22 10:19] dnaq opened #55 "follow the rust style guide"
The style guide is a work in progress and can be found [here](http://aturon.github.io/)

[2015-04-22 12:11] #55 closed

[2015-04-23 08:10] #54 closed

[2015-04-24 08:43] #21 closed

[2015-04-24 08:46] tarcieri commented on #21
@dnaq sweet!

[2015-04-24 10:07] dnaq commented on #21
@tarcieri please take a look and see if you're happy with the exposed API. I'm open to changing it if needed.

[2015-04-24 15:44] tarcieri commented on #21
Definitely good enough to get me started, thanks!

[2015-04-30 04:55] james-darkfox commented on #54
I disagree with the movement to `crypto::box_`; instead, I think it should be `sodiumoxide::cryptobox`.
Note that there is no `::crypto`, the only other module present for sodiumoxide is 'randombytes' - is there any reason to why they need to be separate?

My recommendation is that `crypto` and `randombytes` get merged into `sodiumoxide` - and then renaming box_ to cryptobox.

More to the point; i

[2015-05-04 08:06] dnaq commented on #54
@james-darkfox I've tried to follow the naming conventions from the original NaCl library where the names are `crypto_box`, `crypto_secretbox`, `crypto_auth`, et.al. So I've tried to keep the original namespacing.

Do you have a link for secrets?, It's kind of a hard word to google for. I'm guessing that it might be some kind of secure memory allocation library. If so, then sodium exposes primitiv

[2015-05-04 11:22] james-darkfox commented on #54
Sorry about the vagueness of 'secrets' however, as a hint - search for it under http://crates.io/. ;)

[2015-05-04 12:49] dnaq commented on #54
I just looked it up, it looks similar to my `Securebox`-approach. However, that was usable for all types (not just byte-slices), but I paused development because of the placement new issue.

As of now we have `pub use` statements in all submodules, e.g. `crypto::secretbox` has a `pub use self::xsalsa20poly1305::*;`

I was investigating using traits, but I didn't manage to create a good abstraction

[2015-05-04 13:38] james-darkfox commented on #54
All good; just like to respond to a particular section - traits.

Although sodiumoxide is currently (and probably always will be) libsodium; it would be nice to use as a backbone for other rust crypto related libraries - such as for example norx-rs to be implemented against the same trait and maintaining the interface while not being libsodium at all.

[2015-05-06 12:09] dnaq opened #57 "make travis use libsodium-sys from the repository instead of crates.io"
The Cargo.toml file in `sodiumoxide` has a dependency on `libsodium-sys`. Currently `libsodium-sys` from crates.io is used when building sodiumoxide on Travis. We would like Travis to use the `libsodium-sys` from the source code repository instead.

[2015-05-06 13:22] #57 closed

[2015-05-07 10:50] dnaq opened #59 "Add examples/doctests"

[2015-05-07 11:04] #59 closed

[2015-05-15 08:44] dnaq opened #65 "use pkg-config when building libsodium-sys"

[2015-05-15 08:50] #65 closed

[2015-05-15 08:56] dnaq opened #66 "replace .travis.yml mangling with local cargo configuration override"
As of now when building sodiumoxide from source libsodium-sys is downloaded and built from crates.io. Since the github version of libsodium-sys can contain ffi-bindings that we need in the github version of sodiumoxide. Right now we do some magic in the `before_script` in .travis.yml to modify `Cargo.toml` to specify an absolute path to `libsodium-sys`. A better solution is to add a local cargo ov

[2015-05-15 08:58] #66 closed

[2015-05-16 02:09] tarcieri opened #67 "Rust 1.0 build failure: error: unresolved name `ffi::crypto_verify_64`"
[code]

[2015-05-16 08:43] dnaq commented on #67
Do you have a git-path dependency to sodiumoxide in your `Cargo.toml`? If so, then I believe you need to add one for `libsodium-sys` as well.

Basically what happens is that the master version of `sodiumoxide` depends on the master version of `libsodium-sys`. If you install from [http://crates.io] then you will pull in the correct version of `libsodium-sys` automatically, if you clone the git repo

[2015-05-17 02:55] tarcieri commented on #67
I was using the git dependency. Switching to the crates.io version fixed it, thanks!

[2015-05-17 02:55] #67 closed

[2015-05-30 15:22] markuskobler commented on #65
Would it be possible to support both, pkg-config and environment variable?

https://github.com/dnaq/sodiumoxide/compare/master...markuskobler:master

[2015-05-30 16:34] dnaq commented on #65
Yes of course. Can you add an issue for it?

[2015-08-06 16:39] JanLikar opened #78 "Incorrect function return types (Option instead of Result)"
asymetricbox::open(), secretbox::open() and pwhash::gen_key() return Option enum instead of Result.

The following links suggest that Result should be returned when a function is not expected to fail under normal circumstances. Result::Err signifies an unexpected condition that must be handled, therefore it is a better fit for a cryptographic library.

[Reddit thread](https://www.reddit.com/r/rust

[2015-08-10 08:38] dnaq commented on #78
Thanks for the bug report. It seems like best practices in rust have evolved since I started writing sodium oxide. Also thanks for the willingness of sending a pull request, but I'll probably implement the changes right now instead.

[2015-08-10 09:06] #78 closed

[2015-08-14 13:05] zonyitoo opened #79 "crypto::stream APIs could accept slice as key and nonce"
Currently, as defined in `crypto/stream/stream_macros.rs`, the APIs accepts a `&Key` and `&Nonce` as parameters, that makes impossible to use `Vec` to dynamically allocate and store the key and nonce.

So I propose the APIs could accept slices `&[u8]` as parameters, and use `assert` to ensure it has the correct length.

[2015-08-14 13:10] zonyitoo opened #80 "Please add the missing *_xor_ic APIs in crypto::stream"
For example

[code]

[2015-08-14 13:16] zonyitoo opened #81 "Use output paramenter for not-inplace crypto::stream algorithms"
For example, the `stream_xor` could be written as the following

[code]

which could possibly reuse the allocated output buffer.

[2015-08-14 13:42] dnaq commented on #81
Couldn't you use 'stream_xor_inplace()' for that?

[2015-08-14 13:45] dnaq commented on #80
I've not implemented those yet, since libsodium only defines those functions for Salsa20 and Chacha20 (XSalsa20 and AES-128-CTR are missing). If there is enough interest I might add them though.

[2015-08-14 13:47] dnaq commented on #79
All `Key` and `Nonce` types implement a `from_slice()` function that could be used for that use case. Generally I prefer to have separate types, at least for secret data, since we want to try to zero out memory when the objects go out of scope.

[2015-08-14 14:27] zonyitoo commented on #81
Of course, `stream_xor_inplace` is a solution, I just suggest the `stream_xor` may shouldn't allocate memory inside ...

[2015-08-14 14:34] zonyitoo commented on #79
Well.. Your document on rust-ci is outdated.

[2015-08-14 14:34] #79 closed

[2015-08-14 16:21] dnaq commented on #79
That's weird, it's supposed to auto update every time I push to the repo.

[2015-08-14 16:25] dnaq commented on #81
I prefer to not increase the api size 'stream_xor()' is meant to be the easy api and 'stream_xor_inplace()' is meant to be more of a power user api. TBH I don't see any need for an extra api in between them in complexity.

[2015-08-14 16:25] #81 closed

[2015-08-16 16:15] Cyberunner23 commented on #80
crypto_stream_xsalsa20_xor_ic is present in libsodium 1.0.3 even though its not in the documentation yet, this can be found in code [here](https://github.com/jedisct1/libsodium/blob/master/src/libsodium/crypto_stream/xsalsa20/ref/xor_xsalsa20.c) with crypto_stream_xor_ic being redefined as crypto_stream_xsalsa20_xor_ic [here](https://github.com/jedisct1/libsodium/blob/master/src/libsodium/crypto_s

[2015-08-25 20:54] dnaq opened #83 "Put documentation on gh-pages"
The travis-ci script in this repository contains a hook for updating the documentation that is hosted on rust-ci. The hook seems to run, but for some reason the actual documentation isn't updated.

I've tried readding the hook, I've also removed the project from rust-ci and added it again, but it's still not updating.

[2015-08-25 21:02] dirvine commented on #83
There were some changes a while back, we use github itself to host crate docs and it works very well. You are more than welcome to copy our script if it helps. https://github.com/maidsafe/QA/blob/master/Bash%20Scripts/Travis/deploy_gh-pages.sh (also adds coverage if you get a coveralls.io account)

[2015-08-25 21:03] dirvine opened #84 "Requst crates.io publish"
Currently master works with 32 bit machines, but not the published crate. It would be a great help if there was a crates.io update. Thanks again for all your work.

[2015-08-26 08:21] #84 closed

[2015-08-26 08:48] dirvine commented on #84
Thanks, much appreciated, nice one

[2015-08-26 10:49] #83 closed

[2015-09-02 20:17] istankovic opened #85 "Missing Ed25519 to Curve25519 key conversion"
It would be nice to have bindings for these:
[code]

[2015-09-03 13:35] dnaq commented on #85
I've been holding off adding these functions since using the same key for different purposes carries the risk of opening you up to cross protocol attacks unless you're really careful. I might add them, but with a scary warning in the documentation, but I'd prefer not to to be honest.

What is your use case?

[2015-09-03 18:11] istankovic commented on #85
While I basically agree, I have to point out that if one is not careful with nonces,
one may very well end up with a broken system (even more easily, I'd say, than by
reusing the same key for signing and encryption).  And as far as I can see, sodiumoxide
does have bindings for functions taking nonces...

[2015-09-04 07:30] dnaq commented on #85
I fully agree.The problem is that (with the primitives in NaCl) nonces are a necessity for creating a working cryptosystem. Reusing the same key can usually be avoided (e.g. by using key derivation from a master key).

There are misuse-resistance block cipher modes, where nonce-reuse isn't that big of a problem, e.g. SIV-mode, but NaCl doesn't expose any misuse-resistant primitives.

That being sa

[2015-09-05 16:11] perfaram opened #86 "AEAD functions"
Hi !
First, thanks for the work, it's really nice.
I'm migrating a C project to Rust to learn the latter... Unfortunately, I don't really understand how I'm supposed to call : `crypto_aead_chacha20poly1305_encrypt`.
Any pointers ? Also, please *explain like I'm 5*.

[2015-09-07 10:44] dnaq commented on #86
At the moment sodiumoxide doesn't expose high level bindings for the aead primitives. Your best bet at the moment is to use the low level bindings in `libsodium-sys`.

[2015-09-07 10:44] #86 closed

[2015-09-07 10:44] perfaram commented on #86
OK, thanks !

[2015-09-15 04:10] tarcieri opened #87 "Implement bindings for streaming crypto_auth functions"
I am using sodiumoxide in [rust-macaroons](https://github.com/cryptosphere/rust-macaroons).

The Macaroons format, as it works today, depends on HMAC supporting variable-length keys via hashing the key with the specified hash function in the event it is not the desired length. Lack of support for this in sodiumoxide has lead to a few unsightly hacks:

* https://github.com/cryptosphere/rust-macaroo

[2015-09-15 09:07] dnaq commented on #87
Hi,

I agree that a general implementation of HMAC should follow the HMAC standard. However the `crypto_auth` API in sodium/NaCl isn't a general HMAC implementation, it is an API for doing cryptographic authentication of messages under a secret key. The fact that the implementations of these API's use HMAC under the hood is more of an implementation detail. For example the `crypto_onetimeauth_poly

[2015-09-15 09:34] jedisct1 commented on #87
The `crypto_auth_hmacsha*()` functions follow the HMAC specification and support any key size.

Ex:
[code]

[2015-09-15 10:05] dnaq commented on #87
@jedisct1 thanks, that is indeed correct, maybe I should implement bindings for those functions as well.

[2015-09-17 17:45] stouset opened #88 "Incorrect check for sodium_init() return value"
The [documentation being unclear](https://github.com/jedisct1/libsodium/issues/298) has tripped me up, too. `sodium_init()` returns `0` if it was initialized, `1` if it was already initialized, and `-1` on failure. Currently, sodiumoxide checks that [`sodium_init() == 0`](https://github.com/dnaq/sodiumoxide/blob/master/src/lib.rs#L63), which fails on the non-error case of the library already havin

[2015-09-17 20:02] #88 closed

[2015-09-17 20:02] dnaq commented on #88
Thanks. Nice catch.

[2015-09-21 13:49] dnaq commented on #87
I pushed my code and tests to the `streaming_hmac` branch, haven't had the time to audit myself yet so I haven't merged it into master, but please take a look and see if it solves your needs.

[2015-09-21 16:15] tarcieri commented on #87
Will take a look. Thanks!

[2015-10-15 13:11] #87 closed

[2015-10-20 02:43] eminence commented on #85
I think my use-case is just easy-of-use.  Sometimes I want to encrypt data, other times I just want to sign it (since I believe working with signatures is faster than encrypting).    Tt would be nice for the receiving end to have to manage only 1 public key, not two

[2015-10-20 13:30] dnaq commented on #85
Signatures aren't much faster than encryption (both `crypto::box_::seal()` and `crypto::sign::sign()` do one curve multiplication). However they are for completely different use-cases. e.g. `crypto::box_` uses public key authenticators and does not give you non-repudiation whereas `crypto::sign` gives you non-repudiation.

I'm going to close this issue for now since I haven't seen a security proof

[2015-10-20 13:30] #85 closed

[2015-10-20 14:19] eminence commented on #85
To play devil's advocate: if libsodium provides this function, should it also be exposed by the bindings?   It could come with a similar warning for scalarmut and friends:

(For the record, I am fairly well persuaded by the argument "This might hurt you, you should not do this", especially in the world of crypto.  I similar argument might be "Don't be lazy, you should use the correct primitive for

[2015-11-01 21:41] tarcieri commented on #87
@dnaq I finally ended up using this in `rust-macaroons` and it looks good. Maybe the only thing that confused me was why `State::init` doesn't use a `Key`.

Anyway, can you release a new version with this feature? Thanks!

[2015-11-02 11:14] dnaq commented on #87
The reason is that `State::init` can take variable length keys, since it's a generic HMAC. I'm considering moving the streaming functions to a separate module (e.g. `crypto::hmac`) to make that clearer.

[2015-11-02 16:53] tarcieri commented on #87
Aah! Makes sense.

[2015-11-05 14:55] dnaq commented on #87
Released as sodiumoxide-0.0.9.

[2015-11-05 22:14] tarcieri commented on #87
Sweet, thank you!

[2015-11-23 16:01] dswd opened #90 "Better support for manually incrementing nonces"
I had a use case where I wanted to manually increment a nonce (like the documentation of ChaCha20 says you should do). The current code makes implementing this a security minefield.
First of all, there is a method `gen_nonce` which randomly creates nonces when the documentation says you should not randomly create it but instead increment it because it is too short.
All the `Nonce` types are `Copy`

[2015-11-24 15:40] dnaq commented on #90
Hi. I believe that your'e correct in that primitives with 8-byte nonces shouldn't expose a `gen_nonce()` function. I will look at removing those for the next version of NaCl. As for nonces being `Copy` I don't really see that as a sodiumoxide specific issue, as a rust programmer I believe you should be expected to understand the ownership model of rust. Even if `Nonces` weren't `Copy` someone coul

[2015-11-24 15:56] dswd commented on #90
Thanks for considering my request. I want to clarify my problem with `Copy`. Please have a look at [this code](https://github.com/dswd/vpncloud.rs/blob/46728ce362e802f743a35184ad06807eefd26b0b/src/crypto.rs). It worked fine but when I tested it it turned out to not actually increment the nonce. The error is easy to make and hard to spot (Spoiler: it is in line 63).

[2015-11-24 16:01] dnaq commented on #90
Yeah, that needs to be `ref mut nonce`. The choice is hard though, since a `Nonce` naturally is a `Copy` type, and the ergonomics of using `Nonces` would be worsened by not having them implement `Copy`.

[2015-11-24 16:11] dswd commented on #90
Yes, I can see that. I can only think of very bulky ways to solve that like non-copy wrapper types or generic methods that accept copy and non-copy nonce types. Not very elegant either.

[2015-12-02 14:07] dnaq opened #91 "Remove gen_nonce() for primitives where it's not safe to use"
Some cryptographic primitives in sodiumoxide (e.g. salsa20, chacha20...) use 8-byte nonces. These are too short to be randomly generated, and the documentation says so. However the modules providing bindings to those primitives expose `gen_nonce()` functions for randomly generating nonces, these should be removed.

[2015-12-09 09:02] #90 closed

[2015-12-09 09:21] dnaq commented on #90
Just pushed a fix for your issue, now all nonces have an `increment_le()` and an `increment_le_inplace()` method that can be used to help you with your use-case. I haven't released a new version with these changes yet.

[2015-12-10 10:19] Fraser999 opened #96 "Usage of edwards25519sha512batch functions strongly discouraged"
The libsodium owner has strongly suggested that the `edwards25519sha512batch` should not be used (see comment at https://github.com/jedisct1/libsodium/issues/328)

I think the recommended replacements are in https://github.com/jedisct1/libsodium/blob/master/src/libsodium/include/sodium/crypto_sign.h

[2015-12-19 03:10] drbo opened #99 "Nonces should not be `Copy`"
Nonces should NEVER be reused.  Therefore, they should not implement `Copy`.

[2015-12-19 12:48] dnaq commented on #99
Yes, Nonces should never be reused. However not allowing them to implement Copy has other issues. Most cryptographic protocols require the receiver to get knowledge of the Nonce for example, and disallowing Copy makes the ergonomics of putting Nonces in network packets much worse. There are a lot of other examples where non-Copy Nonces lead to much more verbose, and not more secure, code. I don't

[2015-12-19 12:48] #99 closed

[2015-12-20 04:06] ChrisMacNaughton opened #100 "Implement Sealed boxes"
http://doc.libsodium.org/public-key_cryptography/sealed_boxes.html

It would be nice to be able to encrypt messages that the receiver could decrypt without being able to verify the encryptor

[2015-12-20 18:41] dnaq commented on #100
If you don't need compatibility with libsodium then:

[code]
(code can be written cleaner, this is just a poc)

The nonce can be set to zero since we always generate a new ephemeral keypair each time we call this function. Libsodium doesn't work this way, it uses blake2b to hash the ephemeral and server public key and generates the nonce this way. However this is unnecessary. A quote from the NaCl

[2015-12-20 19:01] dnaq commented on #96
You are correct. Let me quote from the sodiumoxide documentation:

`crypto::sign` in sodiumoxide is `crypto::sign::ed25519`. I will add a deprecated attribute to `crypto::sign::edwards25519sha512batch` as soon as `#[deprecated]` lands in rust stable.

[2015-12-20 19:01] #96 closed

[2015-12-20 19:02] #100 closed

[2015-12-20 19:33] ChrisMacNaughton commented on #100
While compatibility would be cool I don't need it ;-) I was thinking about this prible overnight and came to basically the same solution you did, thanks!

[2015-12-26 17:24] pbrkr opened #101 "Add generichash module to sodiumoxide"
sodiumoxide seems to be missing a generichash module. I can see that some of the generichash functions are defined in libsodium-sys so it should be possible to add these to sodiumoxide. I should be able to write some code for this and submit a merge request but it'd be good to get the API right before I do.

I'm thinking it should provide a hash function with a similar prototype to sodiumoxide::cr

[2015-12-27 17:44] dnaq commented on #101
Hi,

I think generichash should expose the generic api, we shouldn't fix the length of the `Digest`.

Maybe the best API would be something like?

[code]

This also reminds me that I really need to start defining an `Error`-type so that all functions can return meaningful error-values.

I'm not sure of the API though, that's one of the reasons I've been holding off on adding bindings to generichas

[2015-12-30 11:36] betafive commented on #101
I don't think an in-place 'out' argument is very idiomatic. Perhaps:

[code]

I'm not sure if you can get away with `&[u8]` in the return type so I've said `Vec<u8>` but either will do.

I'd also really like a fixed digest length format. We could have the following wrapper:

[code]

Where `Digest32` is a 32-byte digest defined using the newtype macros.

[2016-01-10 16:18] cmr opened #102 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 16:40] JanLikar commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 16:40] cmr commented on #102
(Note: I recommend relicensing the wrappers, but not the -sys crate)

[2016-01-10 16:49] dirvine commented on #102
I license past and future code contributions (including any implied copyright title) under the dual MIT/Apache-2.0 license without reservation or limitation.

[2016-01-10 17:10] andor44 commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 17:23] tiffany352 commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 17:42] romanb commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 17:47] ignisf commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 18:06] dnaq commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 18:20] markuskobler commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 20:15] dnaq commented on #101
I'm still a bit sceptical on the wrapper, since the point of generichash is to be generic. Maybe keep `crypto::generichash` similar to the `libsodium` api and add a `crypto::hash::blake2` that uses generichash under the hood and exposes the same API as the rest of the `crypto::hash` functions, but then we diverge from `libsodium`.

As for your other point we could have a `hash` that has your propo

[2016-01-10 20:15] dnaq commented on #102
@cmr Why not relicense the -sys crate?

[2016-01-10 20:15] andrew-d commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 20:17] cmr commented on #102
@dnaq there's typically not much going on in the -sys crate that could be reused outside the context of linking to that specific library, which (generally) has a single specific license. (there are exceptions, where the ABI is implemented by multiple libraries and no code is directly linked against, but this is rare). it makes it easier to tell which licenses need to be conformed to just by lookin

[2016-01-10 20:18] dnaq commented on #102
@cmr I see, but still I would find it easier to just deal with one licensing scheme, especially since both crates are in the same github repo and share the same README. Also, please take a look at my edit to my above comment.

[2016-01-10 20:20] cmr commented on #102
@dnaq that verbiage is taken straight out of the Apache-2.0 (section 5), I'm not super comfortable changing it for stylistic reasons.

[2016-01-10 20:22] cmr commented on #102
@dnaq I think the advantage of automating license compliance auditing is greater than the simplicity gained by sharing a license. Since most software doesn't include SPDX metadata, trying to draw the line in Cargo has benefits I think. But, your call.

[2016-01-10 20:57] betafive commented on #101
An in-place version would definitely be useful to have. I'll see if I can find some time this week to try implementing something for this.

A fixed length wrapper function is easy to write as needed in application code so it probably doesn't need to go in to sodiumoxide.

[2016-01-11 09:24] Fraser999 commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 09:30] actimehl commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 13:18] AurelR commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-20 09:45] dnaq commented on #102
@kmcallister @ebfe @radford: Are you ok with this license change?

[2016-01-24 17:42] ebfe commented on #102
r+

[2016-01-25 20:44] betafive commented on #101
@dnaq: I've sent a merge request to add bindings for additional generichash functions to libsodium-sys along with adding some really basic tests.

I've implemented `hash` and `hash_inplace` functions but I'm struggling with the testing. My expectation is that if I call `crypto_generichash` with a 32-byte output buffer, a message and no key I will get the first 32 bytes of the BLAKE2b sum of the me

[2016-01-26 10:55] dnaq commented on #101
See #103

[2016-01-27 05:51] stouset opened #104 "Add sodium_malloc and friends"
https://github.com/jedisct1/libsodium/blob/master/src/libsodium/include/sodium/utils.h#L105

Not to mention the rest of `sodium/utils.h`. Feel free to steal my FFI code from [secrets](https://github.com/stouset/secrets/blob/master/src/sodium.rs), at which point I'll be able to simply depend on sodiumoxide instead of implementing it all myself.

[2016-01-27 09:21] dnaq commented on #104
I've been holding off adding support for `sodium_malloc`, `sodium_mprotect`, et.al, since the most natural rust api to those functions would be a `SecureBox` type and to implement that in a good way we would need placement new, which AFAIK hasn't landed yet.

However, I'm not opposed to adding the bindings to `libsodium-sys`. If you would like to send a pull request I would merge it.

[2016-01-27 18:49] stouset commented on #104
That's literally what I'm writing. If I can delegate the FFI portion of that to `sodiumoxide`, it would be fantastic.

[2016-01-27 20:27] stouset opened #107 "sodium_init() isn't itself thread safe"
[The implementation](https://github.com/jedisct1/libsodium/blob/master/src/libsodium/sodium/core.c#L26) isn't thread-safe, so care needs to be taken not to call this from threads. One approach is to use [`std::sync::Once`](https://github.com/stouset/secrets/blob/master/src/sodium.rs#L29).

[2016-01-27 20:38] dnaq commented on #107
See #95

[2016-01-27 20:55] stouset opened #109 "`secret` types unintentionally misleading"
It's worth discussing that simply wiping memory on `Drop` isn't really good enough for stack types. Any move virtually guarantees that their contents will be copied around, and it's impossible to track those situations in order to wipe memory contents.

I'm not sure what a good resolution of this would be. On the one hand, the existing implementation is misleading at best. On the other hand, not e

[2016-01-27 21:02] #107 closed

[2016-01-27 21:12] dnaq commented on #109
In my opinion the threat model is:

1. We want a cryptographic system with forward secrecy.
2. If an attacker can somehow gain access to our system, all long-term keys will be compromised (all future connections if we're talking about a network protocol)
3. Also all active short-term keys will be compromised (all current connections).
4. We don't want any old short-term keys to be compromised (old

[2016-02-02 01:36] burdges commented on #109
Interesting, thanks.  I'll bring the context switching up with tor folk as another reason to prioritize doing the crypto in a dedicated thread.  Although I'm sure Nick, etc. already know about this.  I'm curious if anyone has tried to minimize the switching issue by using floating point registers for secret material or something.

[2016-02-02 16:07] dnaq commented on #104
See #108

[2016-02-02 16:07] #104 closed

[2016-02-02 16:08] #109 closed

[2016-02-05 10:30] zetok opened #111 "Incrementing nonce fails"
on 7cd94ccd48a9b0cc07fc7a52a08a3e3de9efebcb

Reproducible: Always

Steps to reproduce:
1. try to increment `Nonce` with `increment_le()`
2. fails

[2016-02-06 09:28] zetok commented on #111
https://github.com/zetok/tox ← tests for incrementing nonce fail

[2016-02-06 09:33] dnaq commented on #111
Your code is incorrect. There are two methods for incrementing nonces. increment_le which returns a new nonce and increment_le_inplace which increments the old one in place. You are calling increment_le and throwing away the return value.

[2016-02-06 09:33] #111 closed

[2016-02-06 10:41] zetok commented on #111
Right, thanks. Sorry for the issue - I thought that Rust would have warned me about unused return value :/

[2016-02-06 20:46] dnaq commented on #111
Only types that have the #[must_use] attribute. I might add it to all types in sodiumoxide though since it will help out with issues like yours.

[2016-02-11 14:29] Fraser999 opened #113 "Expose sealed box functions"
We have a need for the anonymous public-key functions described at https://download.libsodium.org/doc/public-key_cryptography/sealed_boxes.html

I'd be happy to start work on a pull request for this, but I'm unsure about how you would want the functions and new module named, given that e.g. `crypto::box_::*` already exists as an alias for the authenticated public-key functions in `curve25519xsalsa

[2016-02-11 14:30] dirvine commented on #113
+1 Excellent. This will be very handy indeed.

[2016-02-11 15:34] dnaq commented on #113
Also see #100

[2016-02-11 16:53] Fraser999 commented on #113
OK - we can use the suggested workaround from the other issue.  Thanks for the quick response.

[2016-02-11 16:53] #113 closed

[2016-02-13 10:23] dne commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-02-13 11:57] zetok commented on #102
I license past and future contributions to sodiumoxide* under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

\* or whatever else this project name could be changed to in the future.

===
@dnaq with this, #112 can be merged :)

[2016-02-13 19:28] radford commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-02-23 18:35] untitaker opened #116 "Ability to statically link against libsodium"
I want to deploy my application binary on Linux distributions that don't have a reasonably up-to-date libsodium in their package repositories. That would mean I'd have to manually compile libsodium there, and keep it up-to-date. I wish that sodiumoxide were able to statically link libsodium so that I'd only have to worry about updating it on the build machine.

[2016-02-23 19:03] dirvine commented on #116
I do not think you are prevented from that. It may not be obvious, but link only the .a files and you are good. If building your own then pass `--disable-shared` or similar in the configure step. ./configure --help will show you. Then you will be statically linked.  Note in linux etc. if there is also a shared lib the linker will prefer it in many cases.

[2016-02-23 20:31] untitaker commented on #116
Oh wow thanks, that actually worked: https://github.com/untitaker/mysteryshack/pull/41

[2016-02-23 20:31] #116 closed

[2016-02-24 15:58] dnaq commented on #102
Also see #117

[2016-02-24 15:59] dnaq commented on #102
@kmcallister could you also agree to the licensing changes so that we can switch the license and close this issue?

[2016-02-26 16:43] untitaker opened #118 "Return value of `sodiumoxide::init` is not documented"
A look at its source code and then https://download.libsodium.org/doc/usage/index.html suggests that the program is supposed to abort if the return value is `-1`/`false`. IMO it's better if this is either documented in sodiumoxide, or if the bindings just panic.

Also it appears that there can be three return values:

[2016-03-14 11:16] Phaiax opened #119 "Stream hasher"
Does sodium have a stream hasher for sodiumoxide::crypto::hash / sha256?
If it does, I would like to request bindings.

[2016-03-14 11:17] jedisct1 commented on #119
It does.

[2016-03-18 05:57] dnaq commented on #119
I'm a bit behind on new releases at the moment, but I'll look into your issue when I've got a little more time.

[2016-03-18 07:13] Phaiax commented on #119
thank you

      On 18.03.2016 06:57, dnaq wrote:

      I'm a bit behind on new releases at the moment, but I'll look
        into your issue when I've got a little more time.
      —
        You are receiving this because you authored the thread.
        Reply to this email directly or view
          it on GitHub

[2016-03-22 01:08] danlarkin opened #120 "SecretKey doesn't have impl AsRef<[u8]> but PublicKey does"
Firstly, why the discrepancy?

And secondly, how should one save the SecretKey generated from `gen_keypair` (if not by getting its bytes)?

[2016-03-22 05:15] dnaq commented on #120
1. To reduce the risk of mishandling a secret key (e.g. sending the bytes
over the network without meaning to)
2. let SecretKey(ref skbytes) = sk;

On Tue, 22 Mar 2016 at 02:08, Dan Larkin <notifications@github.com> wrote:

[2016-03-22 05:16] #120 closed

[2016-04-01 05:53] dpc opened #121 "API for ephemeral encryption?"
Hi,

I can't find corresponding function to:

https://download.libsodium.org/doc/public-key_cryptography/sealed_boxes.html

[2016-04-01 07:02] dnaq commented on #121
See #100 for a solution. If compatibility with libsodium is necessary for you then let me know and I'll add it to my todo list, otherwise let me know so I can close this issue.

[2016-04-01 07:06] dpc commented on #121
I did something very much like it for a workaround. Still, why not just include it?

[2016-04-01 11:50] dnaq commented on #121
I've been holding off on adding sealed box since I disagree with the choice of using blake2b for deriving an unnecessary nonce. I also don't want to implement a sealed box that isn't compatible with the one in sodium (since that would lead to a lot of confusion for users). That's why I ask if you have a use-case where compatibility with sealed boxes in sodium are required or not.

If someone needs

[2016-04-01 11:54] dirvine commented on #121
I do have such a use case. It's when we have rust use of sodium that exposes an API to users at higher levels who may implement apps etc. via Rest API and use their own language implementations of sodium.  The current workaround will require they all implement the same workaround in their libs/languages. So it can prove cumbersome in this case.

[2016-04-01 17:25] dpc commented on #121
What's the problem with blake2b? That calculating nonce is costly while it could be just zeros? I'd just do blake2b, stay compatible. This is crypto - being paranoid is a good thing, and anyone that cares about this one unneeded operation can just do it manually without it.

[2016-04-03 13:03] dnaq opened #122 "Remove support for crypto_sign_edwards25519sha512batch"
Support has been removed from libsodium library, so remove it from sodiumoxide as well.

[2016-04-03 15:56] dnaq commented on #121
I would say that there are two problems. The first one is that it's costly, and the second one is that it complicates the API. All of a sudden the `crypto_box_seal_open()` function needs to take in the receivers public and secret key instead of just the secret key (which breaks symmetry). I agree that these are minor issues, but I'm of the opinion that crypto primitives and API's should be as simp

[2016-04-03 20:03] #122 closed

[2016-04-04 15:17] zetok opened #123 "when used as dependency, master fails to compile"
[code]
Newer master has even more errors.

`0.0.9` version on the other hand doesn't provide required features.

[2016-04-04 17:15] dnaq commented on #123
Seems like you're building against an old version of libsodium, could you
try to update it?
On Mon, 4 Apr 2016 at 17:17, zetok <notifications@github.com> wrote:

[2016-04-04 18:29] zetok commented on #123
Well, it tries to build against 0.0.9, as defined: https://github.com/dnaq/sodiumoxide/blob/27c731800501269e9191a3c9393a8e6fcb65c4ff/Cargo.toml#L14

[2016-04-04 18:37] zetok commented on #123
And if the question was about the actual C lib, then no, I'm not building against an "old" version. I can make sodiumoxide compile, but the problem (i.e. default behaviour) where sodiumoxide simply fails to compile without taking additional steps remains.

[2016-04-04 19:16] dnaq commented on #123
Which version of libsodium are you using?
On Mon, 4 Apr 2016 at 20:37, zetok <notifications@github.com> wrote:

[2016-04-04 19:18] zetok commented on #123
1.0.8

[2016-04-04 19:23] dnaq commented on #123
sodiumoxide master builds fine both for me and on travis, could you post a more extensive report?

[2016-04-04 19:29] dnaq commented on #123
I just pushed 0.0.10 to crates.io, could you retry with that?

[2016-04-04 19:34] zetok commented on #123
Thanks, that did it once I've updated deps to use 0.0.10 :)

The problem was compiling failure without those  steps: https://github.com/zetok/tox/tree/32b1b84b0987c300916cbb1ce7a5bbf81caa9b08#building

[2016-04-04 19:34] #123 closed

[2016-04-22 00:41] Sogomn opened #124 "Unable to build"
[code]
On Windows with `MSYS` installed, `pkg-config` updated.
Trying to solve this for multiple hours.

[2016-04-22 00:57] Sogomn commented on #124
Solved.
I had to move the `.pc`-files into the `pkgconfig` directory.

[2016-04-30 06:51] dpc opened #125 "Can algorithms / settings change in the future?"
I'm writing a backup application: https://github.com/dpc/rdedup that uses sodiumoxide and one things I'm wondering is can default underlying algorithms and settings (like `pwhash::pwhash::OPSLIMIT_SENSITIVE`) potentially change in the future? Can `box_` module point to different module implementing it? Any advise how to deal with that?

[2016-04-30 09:41] dnaq commented on #125
Yes, they can change, but it's quite easy to deal with. For box_, just use
the specific box implementation, e.g.
crypto::box_::curve25519xsalsa20poly1305 instead of crypto::box_. For
pwhash you do the same and then either store the opslimit and memlimit
together with the hashed password or use the high level api that does it
for you.
On Sat, 30 Apr 2016 at 08:51, Dawid Ciężarkiewicz <notifications

[2016-04-30 09:41] #125 closed

[2016-04-30 16:32] dpc commented on #125
Thanks! Is there a highlevel API that could do it for me already?

[2016-04-30 19:56] dnaq commented on #125
pwhash::pwhash
On Sat, 30 Apr 2016 at 18:32, Dawid Ciężarkiewicz <notifications@github.com>
wrote:

[2016-05-01 17:05] chzpa opened #126 "`GroupElement` is secret?"
Why did you make [`crypto::scalarmult::curve25519::GroupElement`](https://github.com/dnaq/sodiumoxide/blob/9677d7edbcf359ed5ee84e7d819eea778f6760c6/src/crypto/scalarmult/curve25519.rs#L24) secret with commit f0852a8389e9e225873a5894587bbb88d7787f8f?

[2016-05-01 17:14] dnaq commented on #126
The rationale for not having it secret was that it can represent a public value when using scalarmult for diffie-hellman. The rationale for making it secret is that it is also used to represent the shared secret when using it for diffie-hellman. Thus making it secret by default is the conservative choice (you can always access the underlying bytes if you need to copy the value to the network for e

[2016-05-01 17:14] #126 closed

[2016-05-10 05:19] dpc opened #127 "Building issues on Fedora"
By default on my Fedora 23 building fails with:

[code]

I have to add `/usr/lib64/pkgconfig/` to `PKG_CONFIG_PATH` to make it work. Adding the issue for crawlers to index. It might be problem with my setup, it might be Fedora bug.

[2016-05-10 07:45] dnaq commented on #127
Closing this since it doesn't seem to be a sodiumoxide bug.

[2016-05-10 07:45] #127 closed

[2016-05-11 14:41] iqualfragile opened #128 "Switch to serde"
it seems to be the hip thing now, and rustc_serialize developemnt is dead since last year.

[2016-05-21 17:16] dnaq commented on #128
I've opened (a local) dev branch for serde support. Just wanted to let you
know that I'm working on it.
On Wed, 11 May 2016 at 16:41, iqualfragile <notifications@github.com> wrote:

[2016-05-22 13:25] dnaq commented on #102
@kmcallister trying again...

[2016-05-22 14:58] ignisf commented on #102
@dnaq, did you try sending him an email, it seems he's not active on gh

[2016-05-22 18:12] danlarkin commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-05-24 10:17] #124 closed

[2016-06-13 11:12] dirvine opened #131 "Use a specific version of libsodium"
If possible I think that a very valid issue we could tackle is to use a specific version of libsodium and build it with a build.rs. This ensures we know what is built and tested with various tags etc.

A secondary but very beneficial feature of this would be cross compiled of rust code is now very simple, but libsodium requires separate build script etc. If we combine this then use of sodiumoxide

[2016-06-13 11:15] dnaq commented on #131
I'm uncertain to be honest. When it comes to dynamic C-libraries I believe that they should be installed on the system and linked to (just like we are doing now). Otherwise if the underlying library has security issues we need to do a whole new update of `sodiumoxide` to not have the same issue. On the other hand I agree that the ergonomics could be better, somehow it would be nice if cargo allowe

[2016-06-13 11:18] dirvine commented on #131
Yes I am thinking more static link here. For dynamic then not so sure. I am not all that comfortable with dynamic link and security software. I fear injection etc. I think if the underlying lib has a security issue then update is good actually as it helps take users to a new patched version of both (perhaps).

I wonder if there can be some comprimise, like conditional compilation or similar, altho

[2016-06-17 11:24] jimmycuadra opened #132 "Password hashing"
Just wanted to register my interest in Sodium Oxide supporting Sodium's [password hashing features](https://download.libsodium.org/libsodium/content/password_hashing/) (particularly Argon2.)

[2016-06-23 12:09] jimmycuadra commented on #128
How's this going? I'm trying to build against the Serde branch (using Sodium 1.0.10) and getting some compiler errors:

[code]

[2016-06-23 12:32] dnaq commented on #128
You probably need to upgrade your version of libsodium before building
On Thu, 23 Jun 2016 at 14:09, Jimmy Cuadra <notifications@github.com> wrote:

[2016-06-23 22:43] jimmycuadra commented on #128
Oh, duh. It's because I wasn't using a Cargo override to use the latest version of the libsodium-sys crate.

Anyway, what I was really asking was if there are any issues blocking Serde support from being merged/released, or if it's just a matter of having the time to do it.

[2016-06-24 05:24] dnaq commented on #128
No issues to be honest, I'm going to back out the dev dependency on the hex
crate, test and merge as soon as I have the time.
On Fri, 24 Jun 2016 at 00:43, Jimmy Cuadra <notifications@github.com> wrote:

[2016-06-29 20:44] dnaq commented on #131
@dirvine If you find out a good way to solve this then please let me know and we'll discuss it further. Closing the issue for now.

[2016-06-29 20:44] #131 closed

[2016-06-29 20:45] #128 closed

[2016-06-29 20:45] #121 closed

[2016-06-29 20:49] dnaq commented on #118
`sodium_init()` can return three different values, but sodiumoxide only returns `true` or `false` since there's no need to differentiate between the two different success cases. We've been discussing a better solution for `init()` but have been holding off on it until static mutexes land in rust stable.

[2016-06-29 20:49] #118 closed

[2016-06-29 21:01] dirvine commented on #131
Wll do, we are working on some trial implementations and looking first at a sodiumoxide_extras crate.  The intention being to check these things out (also seeded rng etc.) and from there look to get these PR's to you if you see them as useful.

Thanks again for the work you do here. We will try and help where we can.

[2016-07-02 11:10] jimmycuadra commented on #128
Thanks for doing this! Any chance of new crate releases? I'd like to use the Serde version, and because of the libsodium-sys dependency, using a Git dependency for sodiumoxide would require a Cargo override. Doable, but I'd rather avoid it if new crates can be released.

[2016-07-03 19:52] kmcallister commented on #102
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-07-03 19:59] ignisf commented on #102
:tada:

[2016-07-05 11:54] #102 closed

[2016-07-07 20:41] duesee opened #134 "Resolve pitfalls for new users."
I tried sodiumoxide today the first time. When working with the library I wanted to serialize some public and private keys to json so that I can reuse them later.

I used the version from crates.io (as I always do when working with Rust) and find that it is outdated. Some hours and a [SO question](https://stackoverflow.com/questions/38250632/serialize-sodiumoxides-publickey-into-json) later I was

[2016-07-08 07:24] dnaq commented on #134
I've been holding off on a new release pending more testing. That's why it
isn't on crates.io yet, but it will be soon.
On Thu, 7 Jul 2016 at 22:41, Damian Poddebniak <notifications@github.com>
wrote:

[2016-07-08 14:13] duesee commented on #134
Sounds good.

[2016-07-10 08:05] dnaq commented on #134
6e9083472364dca172bbe0f950db97d269f18b3c closes the issue

[2016-07-10 08:06] #134 closed

[2016-07-18 08:16] sa2ajj opened #136 "Is there an easy way to store password based key derivation parameters?"
In case I'd like to store the information for verifying a password, there's a nice function `crypto_pwhash_str`.  My use case is I'd like to store parameters required to derive a key to decrypt a particular secret key.  There does not seem to be anything "ready-to-use" available.

My question: is there anything that would make such a helper unreasonable  (for an arbitrary definition of "unreasonab

[2016-07-18 11:03] dnaq commented on #136
There's nothing unreasonable about a small helper like that, however it's a wuite simple function to write do and for that reason I'd like to not add it to the sodiumoxide API (in order to not diverge too much from the libsodium API)

[2016-07-18 11:03] #136 closed

[2016-07-18 11:31] sa2ajj commented on #136
If it's that simple a function, why there `crypto_pwhash_str` exists?  The latter stores:

* `salt`
* `opslimit`
* `memlimit`

And this helps a lot while _just_ verifying a password...

[2016-07-23 21:32] dnaq commented on #136
The simple answer is that `crypto_pwhash_str` exists in sodiumoxide since it exists in libsodium. If libsodium were to add a similar function for key derivation I would add bindings to it in sodiumoxide. As you say yourself though, the only parameters needed to be able to derive the same key is `salt`, `opslimit` and `memlimit`, so a function like (in pseudo-rust)

[code]
should do the trick...

[2016-07-26 01:09] sa2ajj commented on #136
@dnaq: I'm sorry, I should have realised that this issue should have been raised with the upstream library.

Thank you for the snippet.

[2016-07-29 17:51] Stebalien opened #137 "Serde 0.8 support"
Hi, serde 0.8 has just been released and it will require some changes to get it working. Luckily, it should require less boilerplate.

[2016-08-02 20:23] metadave opened #139 "High level interface for crypto_generichash_* functions"
Hello - we're using sodiumoxide as part of [Habitat](https://github.com/habitat-sh/habitat), and we've been calling the lower level `crypto_generichash_*` functions via libsodium-sys.

Will there be a higher level API that we could use instead of [making unsafe calls](https://github.com/habitat-sh/habitat/blob/master/components/core/src/crypto/hash.rs#L43-L47) to libsodium-sys?

[2016-08-08 14:24] metadave commented on #139
I'm going to close this in favor of https://github.com/dnaq/sodiumoxide/issues/101

[2016-08-08 14:24] #139 closed

[2016-08-10 20:30] dnaq commented on #137
Closed by 0c9f41f0dfc085669c603f7fd0b393983947b266

[2016-08-10 20:30] #137 closed

[2016-08-10 20:35] Stebalien commented on #137
Thanks!

[2016-08-29 15:21] cryptix opened #140 "Please add the missing ed25119->curve25519 conversion methods"
I miss these two to port the [secret-handshake](https://github.com/auditdrivencrypto/secret-handshake) protocol to rust.

[code]

With a little guidance I could whip up a _leg work_-PR. I think the initial thing to do would be to add them to the underlying FFI crate, right?

[2016-08-29 15:34] dnaq commented on #140
Please see #85 for precious discussions about this issue.

[2016-08-29 15:34] #140 closed

[2016-08-29 16:36] zmanian commented on #85
The Signal protocol uses Curve25519 -> Ed25519 conversion to sign the ephemeral keys. Just wanted to mention the use case.

Just wanted to mention the use case.

[2016-08-30 06:57] dominictarr commented on #85
libsodium wouldn't have added this function if it was insecure, they discuss adding this
in https://github.com/jedisct1/libsodium/issues/77
this comment https://github.com/jedisct1/libsodium/issues/77#issuecomment-90818356 links to a paper and discussion about how it is secure to have dual use eliptic curve keys. This would not be secure with RSA,  but ed25519/curve25519 is a different thing

[2016-08-30 08:59] dnaq commented on #85
The paper proves the security of ECDSA +ECIES and EC-Schnorr+ECIES. These
aren't the cryptographic primitives that are used, so that proof isn't
valid. The paper also shows some combinations where the security falls
apart completely.

That being said, I'm not arguing that it's insecure, I'm arguing that it
isn't proven secure.
On Tue, 30 Aug 2016 at 08:57, Dominic Tarr <notifications@github.com> w

[2016-10-03 19:39] Philipp91 commented on #124
I get this error:
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: "Failed to run `\"pkg-config\" \"--libs\" \"--cflags\" \"libsodium\"`: Das System kann die angegebene Datei nicht finden. (os error 2)"', ../src/libcore\result.rs:788

Most likely that's because pkg-config isn't installed properly. My attempts to install it have only resulted in a "Segmentation fault" output

[2016-11-11 07:08] LaylConway opened #142 "On Windows MSVC, libsodium binaries can't be found"
In the pre-compiled binaries for libsodium on Windows for the MSVC toolchain, the binaries are called "libsodium.lib". However, the line `println!("cargo:rustc-link-lib={0}=sodium", mode);` will only search for `sodium.lib`. On MSVC toolchain, lib should be prefixed. I don't know if the same problem occurs on the Windows GNU toolchain.

[2016-11-12 21:30] LaylConway opened #143 "Improve box_ examples in docs to be clearer what should or should not be sent to the other side"
I suggest to clarify these examples, a function call should be used so it's clearer what should be sent and what should be secret.

[code]

[2016-11-27 09:10] nokaa opened #145 "Add IETF versions of chacha20poly1305"
Would you consider adding the IETF versions of chacha20poly1305? I believe that I've made the necessary additions, so I can submit a pull request.

[2016-11-27 20:48] dnaq commented on #142
I don't have access to MSVC, so it's hard for me to test your issue. I
would welcome a pull request that contains a windows build/testsuite using
appveyor though.
On Fri, 11 Nov 2016 at 08:08, Layl <notifications@github.com> wrote:

[2016-12-14 22:58] Philipp91 opened #146 "Can return values be ignored?"
Random example:
The C version of `crypto_box_curve25519xsalsa20poly1305` is tagged with `__attribute__ ((warn_unused_result))` (see https://github.com/jedisct1/libsodium/blob/master/src/libsodium/include/sodium/crypto_box_curve25519xsalsa20poly1305.h#L49), but sodiumoxide ignores it: https://github.com/dnaq/sodiumoxide/blob/0c9f41f0dfc085669c603f7fd0b393983947b266/src/crypto/box_/curve25519xsalsa2

[2016-12-15 17:34] dnaq commented on #146
The only way that function can fail is when the input is too short (the C API requires zero-padded messages), but since we add the correct amount of padding there's no way that can happen. That being said it might be prudent to check the return value and panic if it's not zero. I'd accept a pull request.

[2016-12-15 17:34] #146 closed

[2017-01-01 01:51] dpc opened #147 "Can we get a new release?"
It seems that the last release links to `serde 0.7` while `serde 0.8` is already released. Thank you!

[2017-01-01 21:28] dnaq commented on #147
Yes. I'll try to do a new release soon.

[2017-01-01 21:29] dnaq commented on #143
Please send a pull request and I'll merge.

[2017-01-01 21:29] #142 closed

[2017-01-05 18:00] dnaq commented on #147
Closed by: 12d49e8

[2017-01-05 18:00] #147 closed

[2017-01-05 18:01] #143 closed

[2017-01-05 18:36] dpc commented on #147
Thank you!

[2017-01-09 20:11] dnaq commented on #145
Hi. Yes, I would definitely consider it. There's a (closed) pull request with further discussion on the issue if you want to read more about previous discussions on the subject.

[2017-01-12 20:26] Deedasmi opened #148 "from_slice returns option. Why not result?"
https://github.com/dnaq/sodiumoxide/blob/master/src/newtype_macros.rs#L16

Why does from_slice return an option rather than a result? Isn't a parsing error more like an error than a potential null?

[2017-01-12 20:31] dnaq commented on #148
The reasoning was that

1. There's no meaningful error message (only one way it can go wrong)
2. There's no risk of an unused result leading to security issues

I'm not married to the idea though, but I don't know if the difference
between Option<T> and Result<(), T> is large enough to change it now.
On Thu, 12 Jan 2017 at 21:26, Richard Petrie <notifications@github.com>
wrote:

[2017-01-12 20:31] #148 closed

[2017-01-12 21:05] Deedasmi commented on #148
The biggest reason for me would be that it's inconsistent (aka unintuitive), and due to the way documentation is made it's undocumented.

Additionally, if someone wanted to fork and add some more descriptive errors (decryption can fail in two ways, both that return `Err(())`) , the fork would require an API change.

If nothing else, I think it should go into a todo list for a future api change, sh

[2017-01-16 14:51] oconnor663 commented on #24
The PR I just put up is an example implementation for secretbox. It might be a smaller change than what's in the `box_inplace` branch, though that's partly because it doesn't touch the box functions yet. Please let me know what you think.

[2017-01-20 21:33] kyrias opened #152 "Can't serialize Key with rmp"
I'm trying to serialize NaCl keys using the msgpack-rust library, but apparently it cannot deserialize them again because of the asymmetry in how the serialize and deserialize implementations for the Key struct. 3Hren/msgpack-rust#96

I'm a pretty beginner Rust programmer, so I don't fully understand how to do it myself, but would it be possible to have them implemented symmetrically, so that the

[2017-01-26 12:39] veorq opened #154 "scalarmult() supports degenerate public-keys (insecure)"
Currently `scalarmult()` accepts all-zero public keys, for which the result (DH shared secret) will always be zero regardless of the private key used.

Against this, libsodium's `crypto_scalarmult_curve25519()` returns a non-zero value if it encounters such degenerate keys. You should therefore check its return value when calling `ffi::crypto_scalarmult_curve25519(&mut q, n, p);`.

This is a simil

[2017-01-26 13:03] dnaq commented on #154
Thanks for the find.
On Thu, 26 Jan 2017 at 13:39, JP Aumasson <notifications@github.com> wrote:

[2017-01-26 19:25] #154 closed

[2017-01-26 20:12] dnaq commented on #152
I'll look into it as soon as msgpack-rust supports serde 0.9

[2017-02-10 07:46] 3Hren commented on #152
It landed.

[2017-02-13 13:30] #152 closed

[2017-02-15 15:54] zonyitoo commented on #132
Is this issue accepted?

[2017-02-23 11:06] sopium commented on #132
I think scrypt is already supported.

I would like to see Argon2 as well, but Argon2 is only available in libsodium 1.0.9 and later. Is that going to be a problem?

How does sodiumoxide deal with features only available in relatively new versions of libsodium, in general?

[2017-02-23 11:20] sopium opened #155 "Trouble getting corresponding libsodium-sys using sodiumoxide from git(hub)"
If `sodiumoxide` is specified in `Cargo.toml` as a dependency and points to some git repository, `libsodium-sys` is still retrieved from crates.io index.

Shall we get rid of `.cargo/config` and specify in `Cargo.toml` path of `libsodium-sys`?

I can send a PR if you think this is a good idea.

[2017-02-27 20:11] kyrias commented on #152
Hm, I'm also getting `invalid type: byte array, expected $newtype` when trying to deserialize a `Nonce`, and happens with multiple serde using serializers.  Not quite sure what's going on.

[2017-02-27 20:38] kyrias commented on #152
Gah, sorry, ignore this, was working in a checkout that didn't have the git version of sodiumoxide.

[2017-02-27 20:40] dnaq commented on #152
Can you try the master branch of sodiumoxide and see if your issue has been
solved?
On Mon, 27 Feb 2017 at 21:11, Johannes Löthberg <notifications@github.com>
wrote:

[2017-02-28 13:19] kyrias commented on #152
Yeah, it works perfectly on master, thanks.

[2017-03-06 15:38] CodesInChaos commented on #154
@veorq Can you explain why you consider this an issue?

In typical protocols an attacker who can trick you into thinking a low order public key belongs to your communication partner could also trick you into using a public key for which the attacker knows the corresponding private key.

[2017-03-06 17:03] veorq commented on #154
This check ensures joint key control, to prevent dishonest parties from choosing the shared secret. Whether this check is required depends on the protocol and on the threat model. It may be superfluous, but it can't hurt.

[2017-03-20 10:10] #155 closed

[2017-04-25 09:51] lawliet89 commented on #132
One solution is to include the libsodium source code as a submodule for `libsodium-sys` so that the crate is built against that source instead of the library on the user's machine.

See how the [`git2`](https://github.com/alexcrichton/git2-rs/tree/master/libgit2-sys) crate deals with its FFI bindings.

[2017-04-30 03:56] kmcallister commented on #132
@lawliet89: I'm very much in favor of having that option. I think it would ease cross-compilation as well.

[2017-04-30 03:59] kmcallister opened #159 "no_std support"
I'm interested in using sodiumoxide on microcontrollers. In my case I do have liballoc / libcollections available, so a fix to #24 is not necessary. However I'm wondering what additional work is required (investigating now).

[2017-04-30 04:40] kmcallister commented on #159
Okay, that wasn't as hard as I'd feared. Here's [a rough cut](https://github.com/kmcallister/sodiumoxide/commit/43fe694587515b39f2ed3c50cb952bd55e8fc0bf).

[2017-05-03 20:18] kmcallister opened #164 "Explicit Clone impls for Copy types"
clippy gives a bunch of warnings of this form:

[code]

Is there a good reason to `impl Clone` this way?

[2017-05-03 20:51] dnaq commented on #164
The reason was that `#derive(Clone)` didn't work when the arrays are too large. This is a known limitation in rusts type-system.

So basically we're stuck between a rock and a hard place. Either the code doesn't compile, or we get clippy warnings, or we need to duplicate code.

[2017-05-03 20:51] #164 closed

[2017-05-24 21:00] #159 closed

[2017-05-28 15:13] AljoschaMeyer opened #165 "Add Ed25519 to Curve25519 keys conversion"
[Ed25519 to Curve25519 key conversion](https://download.libsodium.org/libsodium/content/advanced/ed25519-curve25519.html) is not exposed in the rust api. I'm too new to crypto, C and Rust to feel comfortable writing a pull request for this without guidance though.

[2017-05-28 17:39] dnaq commented on #165
Thanks for the offer. I've decided to not add support for those primitives
for now, please see #85 for earlier discussion on the issue.
On Sun, 28 May 2017 at 17:13, Aljoscha Meyer <notifications@github.com>
wrote:

[2017-05-28 17:39] #165 closed

[2017-05-28 17:54] AljoschaMeyer commented on #165
Thank you for the quick reply. My use case is the same as the one use case that was provided in the issue you linked to: I want to implement [a protocol](https://github.com/auditdrivencrypto/secret-handshake) that uses the conversion with ephemeral keys. Incidentally the protocol was designed by @dominictarr who also chimed in the discussion in the issue.

So if this won't be added, could you poin

[2017-05-28 20:08] dnaq commented on #165
You don't need to fork, you just need to add bindings to the libsodium
functions that you need (in your own code).

I skimmed through the paper you linked, and I don't agree with a lot of the
contents in it. I don't have the time to give a detailed response, but are
you sure you need to use that protocol at all?

If you want to set up an authenticated key exchange I think you might be
better serve

[2017-05-28 20:33] AljoschaMeyer commented on #165
There's a [decentralized database/log](http://scuttlebot.io/) built on top of that protocol, and I'd like to write a client in rust. So if I want to talk to instances of the database, there's no way around using that protocol. If I had free choice of protocol to solve a specific usecase, I'd go with a more established protocol as well.

[2017-07-05 22:25] Svedrin opened #166 "Please add support for multipart messages"
libsodium supports [multipart messages](https://download.libsodium.org/doc/public-key_cryptography/public-key_signatures.html) through the `crypto_sign_init` / `crypto_sign_update` / `crypto_sign_final_{create,verify}` functions. Please add support for them to sodiumoxide. The underlying algorithm is subtly different, so I can't just easily use `crypto_sign` and get the same results.

Thanks :)

[2017-07-06 07:18] dnaq commented on #166
Hashing the message with sha512 and signing the hash should give you the same results. Does that work for you?

[2017-07-06 08:15] jedisct1 commented on #166
Unfortunately not. Ed25519 requires a different context identifier.

[2017-07-06 09:21] Svedrin commented on #166
Tried that. Unforatunately it doesn't work, because `crypto_sign_{init,update,final}` and `crypto_sign_detached` hash the messages differently :(

See [sign.c](https://github.com/jedisct1/libsodium/blob/b10be7a45895af682e98a27e8fadd21b511efd4c/src/libsodium/crypto_sign/ed25519/ref10/sign.c#L27), `prehashed` is true for init/update/final and false for detached.

[2017-08-25 11:29] chrisdew opened #171 "Why do PublicKeys get prefixed with a length when serialised?"
At https://github.com/dnaq/sodiumoxide/blob/684ac7b5cc979a9c780548d884d4a9961c06969a/src/crypto/sign/ed25519.rs#L43 via https://github.com/dnaq/sodiumoxide/blob/684ac7b5cc979a9c780548d884d4a9961c06969a/src/newtype_macros.rs#L245
`PublicKey` is defined as a simple wrapper of 32 bytes.

When I define my own wrapper of 32 bytes (`MyPubKey`) it bincode serialises to 32 bytes.

When I bincode serialise

[2017-08-25 16:30] dnaq commented on #171
The issue was that we can't derive serialize and deserialize instances
automatically (since some newtypes are too large for the serde traits to
work). Because of that we call serialize_bytes which in bincode adds a
length. When you auto-derive the serde traits are used (since they are
defined for [u8; 32].

I've been waiting for serde to support arbitrary length arrays.
On Fri, 25 Aug 2017 at 13:3

[2017-10-26 03:49] bnewbold commented on #80
I've just now run in to the missing `crypto_stream_*_xor_ic` issue as well (for my use case, `crypto_stream_xsalsa20_xor_ic`).

The only rust ecosystem way I've seen to get access to this function are the raw (unsafe) bindings in `libsodium-ffi`. I will probably use sodiumoxide patched with @quininer's implementation for now.

[2017-10-30 20:37] #119 closed

[2017-10-31 09:22] kcchu opened #177 "aes128ctr was removed from libsodium since 1.0.15"
aes128ctr was removed by [this commit](https://github.com/jedisct1/libsodium/commit/96be673f82ed7068046cb80584e257f5b81572a4#diff-90c54a2f5f88237dba59c6231015b58f).

It prevents sodiumoxide from building when libsodium 1.0.15 is installed:

[code]

[2017-10-31 19:40] #177 closed

[2017-11-01 01:06] kcchu commented on #24
This issue was already fixed by commit c810136bdba20997d381fb127f0c935b6e48db22

[2017-11-27 09:34] Neurrone commented on #80
Same here, wanted to use this function for random access to sspecific blocks of a larger file.

[2017-12-03 23:22] dnaq commented on #145
Closed by 5d53fab116011dba7fd32eedf684b1e1106743d4

[2017-12-03 23:22] #145 closed

[2017-12-03 23:22] dnaq commented on #80
Closed by c630296ac994e59e04455b50975ed8ddacc17c46

[2017-12-03 23:22] #80 closed

[2017-12-03 23:23] #24 closed

[2017-12-05 07:50] Hand-of-Cthulhu opened #182 "Successful compile, but undefined references error when calling anything."
I am running rust in MSYS, after installing libsodium (64 bit), and setting the correct PKG_CONFIG_PATH, sodiumoxide compiles fine. But when I try to call something, e.g. `sodiumoxide::init()`, I got the error `error: linking with gcc failed: exit code: 1`

    ...\target\debug\deps\libsodiumoxide-555164969ab168a3.rlib(sodiumoxide-555164969ab168a3.0.o): In function 'sodiumoxide::crypto::stream::xc

[2017-12-05 08:24] dnaq commented on #182
You’re running an old version of libsodium, please update to the latest version.

[2017-12-05 08:24] #182 closed

[2017-12-13 01:07] Hand-of-Cthulhu opened #184 "crypto::sealedbox::SEALBYTES is private?"
The SEALBYTES constant in sealedbox is not public, is this intentional? If so, why, as other constants needed to work out the size of the output like MACBYTES are not private.

sodiumoxide version: 0.0.16

[2017-12-26 18:26] kpp opened #186 "Broken builds with coverage"
`v0.0.16` is broken. There is no way to use it with `cargo-travis` anymore to run `$ cargo coverage`.

[code]

[2017-12-26 20:14] dnaq commented on #186
Looks like you have an old version of libsodium installed, try upgrading
On Tue, 26 Dec 2017 at 19:26, Roman <notifications@github.com> wrote:

[2017-12-27 00:56] kpp commented on #186
[code]

Is this an old version?

[2017-12-27 02:10] jedisct1 commented on #186
It's dead old and unsupported.

The current stable version is 1.0.16, with 1.0.17 being round the corner.

[2017-12-27 02:10] krishnakumar4a4 opened #187 "Compilation with libsodium fails with pkg-config error, even if it is added in cargo depedencies"
[code]

[2017-12-27 02:13] krishnakumar4a4 commented on #187
I fixed it by installing libsodium library manually in the OS,

In mac,
            it is ```brew install libsodium```

Verify libsodium with pkg-config:
   ```pkg-config --list-all|grep libsodium``` --> This should return the libsodium entry in pkg-config

[2017-12-27 02:18] kpp commented on #186
I am on `Ubuntu 16.04.3 LTS` and this it the most up-to-date version from official repo. Would you please build libsodium from source in `-sys` crate?

[2017-12-27 03:42] kpp commented on #186
Thanks for your help! Anyway, `*-sys` package must be able to build libsodium from source.

[2017-12-27 03:42] #186 closed

[2017-12-27 06:35] dnaq commented on #187
I don't understand your issue. These are bindings to libsodium, it needs to be installed for you to use sodiumoxide.

[2017-12-27 06:35] #187 closed

[2017-12-30 15:59] krishnakumar4a4 commented on #187
@dnaq I added this for beginners. It is not exactly an issue, it is an info.

[2018-01-09 02:10] FihlaTV opened #190 "Sodium oxid std features error"
Hi
I am experiencing this error when I compile my cargo project
error: Package `sodiumoxide v0.0.14` does not have these features: `std`

Any help?
Thanks

[2018-01-10 12:22] dnaq commented on #190
Sounds like a build error on your side.

[2018-01-10 12:22] #190 closed

[2018-01-10 12:23] #184 closed

[2018-01-10 12:25] dnaq commented on #166
Fixed by #170, 9d73da785086d193c22475706fa1d42786eb8233

[2018-01-10 12:25] #166 closed

[2018-01-19 17:43] bl4ck5un opened #191 "Doesn't build without std feature"
[code]

[2018-01-20 17:06] #191 closed

[2018-01-29 12:38] dbrgn opened #192 "Integrating features from rust_sodium"
There is an alternative libsodium wrapper maintained by Maidsafe: https://github.com/maidsafe/rust_sodium

One of the main differences is that it downloads libsodium during the build process and builds it statically. This makes it much easier to build for different targets, e.g. iOS. It also does CI on all three major opeating systems.

I'm not sure whether the Maidsafe developers got in contact w

[2018-01-29 12:54] dnaq commented on #192
Hi, I'm aware that they have forked sodium oxide, but they haven't asked me to upstream their fork yet.

I agree that downloading libsodium during installation is a nice feature, but it would also require that we keep a list of known hashes of current libsodium versions in the sodiumoxide repository so that we can make sure that the downloaded libsodium is a real one before installing (or throw se

[2018-01-29 13:09] dbrgn commented on #192
I fully agree :) I opened an issue for that: https://github.com/maidsafe/rust_sodium/issues/45

Not necessarily, since libsodium provides GPG and minisig signatures. (Verifying minisig is a bit of a chicken-and-egg since it requires libsodium, but we could probably find a way to verify one of those two signatures without too much hassle.)

I think the verification thing wouldn't add much of a main

[2018-01-29 13:12] dbrgn commented on #192
(By the way, the current `rust_sodium_sys` build script is quite hacky, but could be further cleaned up. The pending pull requests already to that partially. So don't take that as reference.)

[2018-02-07 10:37] dbrgn commented on #192
Would @Fraser999 be interested in upstreaming the changes? I would be willing to help. The libsodium-in-Rust ecosystem could benefit from a single go-to solution.

[2018-02-07 11:37] Fraser999 commented on #192
I agree that a single Rust wrapper in crates.io would be good, however the two projects have diverged in a few areas as mentioned in the OP.  We were originally submitting PRs here, but created our own fork (well... not fork because we needed to publish something to crates) primarily due to #135.  Since then the further changes we've made in order of most-important to least are:
* exposed the abil

[2018-02-07 11:56] dbrgn commented on #192
sodiumoxide would benefit from 2 and 3. The first change could be added maybe behind a feature flag? And applying rustfmt and clippy to the codebase wouldn't hurt either.

But that's probably something that @dnaq would have to decide 🙂

[2018-02-07 12:12] Fraser999 commented on #192
Yup, the feature flag for point 1 would be fine I'm sure.  Would probably be a good thing to have disabled by default anyway (https://www.privateinternetaccess.com/blog/2017/08/libsodium-v1-0-12-and-v1-0-13-security-assessment/#section_3_5_4).

As for rustfmt and clippy, I think clippy is by far the more useful, but dropping these probably wouldn't be a blocker for us.

[2018-02-12 12:32] geertj opened #195 "Expose selected primitives"
Currently the crate `libsodium-sys` defines string constants for the different cryptographic primitives provided, e.g. `crypto_hash_PRIMITIVE`, etc, but it appears these aren't re-exported by `libsodium` itself.

Having these would help with interoperability between different NaCL based applications by e.g. allowing a compile-time `assert!` that the expected primitives are used. Is there any parti

[2018-02-15 13:52] dnaq commented on #192
I'm ok with both rustfmt and clippy changes, none of which existed when I first released sodiumoxide. Would like it if those changes were isolated to a single commit and not merged together with unrelated changes.

AppVeyor support would be really nice, I'm not that used to windows development though, so that's why I haven't added it myself.

The PRNG stuff is more scary, but I might be ok with th

[2018-02-15 13:55] dbrgn commented on #192
I haven't done much with rustfmt so far. @Fraser999 would you be interested in applying your rustfmt config to sodiumoxide? I could implement clippy support in a pull request.

[2018-02-17 18:40] Fraser999 commented on #192
@dbrgn I think @dnaq's hoping for single commit for this, so it'd probably be best if you could just apply it to your PR's commit?  I'd suggest building it into the CI scripts too, since if subsequent commits don't follow the rustfmt style, we can end up needing separate commits just to reapply rustfmt styling.

As for our rustfmt config, we try to keep as close to the defaults as possible.  We on

[2018-02-19 22:30] Reisen opened #197 "std is included even in no_std environments."
I am trying to write a piece of code targeting the x86_64 ABI using a custom target, which means there's no `std` available for my build target so I am building with `#[no_std]`. It seems that even with the std flag disabled, the package still tries to pull an `std` package into the build. The following is the build error:

[code]

Note I am not actually doing anything with the package yet, if I r

[2018-03-09 03:42] Luke-Nukem commented on #85
The one and only reason I can think of for requiring this, is easier key management. That is, not having to juggle two public keys.

[2018-03-16 15:48] Dev-Osmium opened #198 "Failed to Install"
Failed to install with following error

[https://hastebin.com/oqufamoqof.tex](https://hastebin.com/oqufamoqof.tex)

[2018-03-21 16:15] vimmerru commented on #198
It doesn't support libsodium 1.0.12 that is present by default in the most of modern distros and macos. Is this project died?

[2018-03-21 17:28] dnaq commented on #198
1. The issue has nothing to do with the libsodium
version, just that pkg-config doesn’t find libsodium
2. Are you serious? Do you think the project is dead since it doesn’t
support a really old version of libsodium?

On Wed, 21 Mar 2018 at 17:15, Vyacheslav <notifications@github.com> wrote:

[2018-03-21 17:28] #198 closed

[2018-03-21 17:30] Dev-Osmium commented on #198
That is related to libsodium, it failed to install. I never said anything about the version.

[2018-03-22 04:25] vimmerru commented on #198
@dnaq I am talking about libsodium 1.0.15 and 1.0.14. 1.0.12 is working fine. Sodiumoxide doesn’t support it because some symbols were removed and linking failed. 1.0.15 is default version in MacOS brew now and in new Ubuntu. As result builds doesn’t work on this platforms without tricks.

[2018-03-22 08:38] dnaq commented on #198
Can you write an issue for that? Seems weird, I’ve had 1.0.15 on my
developer setup since it was released.
On Thu, 22 Mar 2018 at 05:25, Vyacheslav <notifications@github.com> wrote:

[2018-03-22 08:39] dnaq commented on #198
Also, the Travis build scripts use 1.0.15

[2018-04-08 14:53] jrmuizel opened #201 "Expose bindings to crypto_secretstream_*()"
This is helpful for supporting data that's larger than will fit in memory

[2018-04-29 16:52] aep commented on #166
uh this never got merged, did it?

[2018-04-29 17:52] dnaq commented on #166
Not yet, will probably get merged this week.
On Sun, 29 Apr 2018 at 18:52, Arvid E. Picciani <notifications@github.com>
wrote:

[2018-05-04 11:36] dnaq opened #203 "Call for maintainers"
Call for maintainers
====================

Since I haven't had time to maintain sodiumoxide lately, I think it is time for
someone else to take the reins. There are some outstanding pull-requests and
open issues and even though sodiumoxide is usable as is, I feel bad for
everyone contributing when I don't have time to merge, or even look at, their
changes.

In this document I'll try to explain the

[2018-05-04 11:53] Dylan-DPC commented on #203
Hi @dnaq
Do check out: https://users.rust-lang.org/t/bus-factor-1-for-crates/17046/22

We are willing to help you maintain this and set this up for a team to maintain.

[2018-05-04 14:15] dnaq commented on #203
@Dylan-DPC Thanks for the offer, that sounds like just what I'm looking for.

[2018-05-05 21:33] dnaq commented on #201
Please see #203

[2018-05-05 21:33] dnaq commented on #197
Please see #203

[2018-05-05 21:35] dnaq commented on #195
The reasoning has been that a user that cares about the actual primitives used would use e.g. `crypto::secretbox::xsalsa2poly1305` instead of `crypto::secretbox`. That being said the documentation shows which primitive is being used as well.

[2018-05-05 21:35] #195 closed

[2018-05-05 21:36] dnaq commented on #192
Please see #203

[2018-05-05 21:36] dnaq commented on #171
Please see #203

[2018-05-05 21:36] dnaq commented on #132
Please see #203

[2018-05-05 21:36] dnaq commented on #101
Please see #203

[2018-05-05 21:36] dnaq commented on #91
Please see #203

[2018-05-05 21:38] dnaq commented on #203
@Dylan-DPC how does this work. Will you suggest a maintainer?

[2018-05-06 14:30] Dylan-DPC commented on #203
@dnaq We don't have many maintainers in the rust bus organisation so right now it will be either me and/or @kornel. Will create a post and an organisation so we can move the repo there.

[2018-05-07 04:15] Tom-Phinney commented on #203
@dnaq @Dylan-DPC Although I'm fairly new to Rust, I was once a mathematician, have a modest crypto employment background, and have studied the NaCl code base. I don't have enough experience with Rust and its tooling to take on the full maintenance task but I believe that I could be a substantial contributor to the process.

[2018-05-07 07:14] dnaq commented on #203
@Tom-Phinney Your background seems to be really suitable for co-maintaining this project. Do you have any links to any online presence of yours?, (code you've written, related work).

[2018-05-07 07:16] Dylan-DPC commented on #203
hey @Tom-Phinney

That's fine. It is good to have someone who knows cryptography well. Even if you are a beginner at rust, it is okay we will help you

[2018-05-07 15:18] samscott89 commented on #203
I'd be keen on becoming a co-maintainer as well. I've done a couple of Rust libs (but none as popular as sodiumoxide) --  see [libpasta](github.com/libpasta) for example.
My background is in crypto as well, so can help on that side of things as well.

[2018-05-07 15:35] Dylan-DPC commented on #203
@Tom-Phinney @samscott89 okay cool. I have sent you invites to the organisation.

[2018-05-07 18:45] dnaq commented on #203
The repository is now moved to the sodiumoxide organization and it feels really good to have two cryptographers onboard as co-maintainers. I'll hold on to the crates.io account for a while, but after a couple of successful releases I'll add the organization to the crate as well. Thanks for stepping up everyone, looking forward to the next release.

[2018-05-07 18:51] Kornel commented on #203
@Dylan-DPC you mentioned me, but I think you must have meant someone else :-)

[2018-05-07 18:53] Dylan-DPC commented on #203
@Kornel Nah. I mentioned you earlier thinking you might want to join us as being part of rust bus. Its fine :smile:

[2018-05-07 22:45] nvesely commented on #203
I was wondering why the docs stopped working. Guess this answers my question.

I would actually like to join the bus factor for this crate if possible. My background is a math bachelor's (with two undergraduate theses related to cryptography) followed by 3 years in the information security industry. I'm starting an Information Security master's program in September. I've only known Rust for a numb

[2018-05-08 05:22] nvesely opened #204 "Make BLAKE2b the default hash function"
Libsodium is currently using BLAKE2b for its `crypto_generichash`. Besides keeping parity with the upstream library, compared to SHA2 BLAKE2b:

* Is much faster.
* Is not vulnerable to length-extension attacks.
* Has built-in support for keying.

In sodiumoxide BLAKE2b is only exposed via `libsodium_sys`. I think that BLAKE2b should be brought into the main sodiumoxide library in a way that direct

[2018-05-08 05:35] nvesely commented on #204
Closing in favor of #101.

[2018-05-08 05:35] #204 closed

[2018-05-08 05:37] nvesely commented on #101
I didn't see this issue before making #204, but will just copy my comments relevant to the API:

[2018-05-08 07:06] dnaq opened #206 "Move the documentation to docs.rs"

[2018-05-08 12:35] kinggoesgaming commented on #203
I love how @Dylan-DPC quietly didn’t mention me ... :P

[2018-05-08 22:52] kinggoesgaming commented on #203
@dnaq should this be considered resolved for now? If so I think its a good idea to close this issue

[2018-05-08 22:55] cynecx commented on #201
JFYI: I have a **experimental** branch which supports [this](https://github.com/cynecx/sodiumoxide/tree/streaming).

[2018-05-09 17:32] dnaq commented on #203
I’ll let one of the new maintainers close the issue, feels more appropriate.

[2018-05-10 09:25] #203 closed

[2018-05-11 03:56] nvesely commented on #203
I didn't get a response before you closed this, but I'm still interested in helping to maintain this repo.

[2018-05-11 03:58] Dylan-DPC commented on #203
Oops @nvesely. Will add you to the organization

[2018-05-11 04:02] nvesely commented on #203
Awesome!

[2018-05-11 05:29] nvesely commented on #203
I joined the organization, but that doesn't make me a repo maintainer or add me to the bors reviewers list. If you could set that when you get the chance @Dylan-DPC -- thanks.

[2018-05-11 05:30] Dylan-DPC commented on #203
Yah will give you all that don't worry

[2018-05-11 19:19] naftulikay commented on #203
How can I help?

[2018-05-15 20:34] kinggoesgaming opened #212 "Require 2 PR approvals"
Its generally good for a second opinion.

With the number of maintainers for the crate, this should be easily feasible.

[2018-05-15 21:19] nvesely commented on #212
:+1:. Also:

* Protect master branch.
* All integration tests must pass before a PR can be merged.
* Two PR approvals from approved reviewers and approvals are wiped if the PR is updated.
* Bors merges only.

[2018-05-15 22:58] kinggoesgaming commented on #212
Yup thats good for me :+1:

However, I think we will on this until opinions from other maintainers come in

[2018-05-18 20:39] kinggoesgaming commented on #212
Other than bors messing up currently, everything else active

[2018-05-22 16:54] kinggoesgaming commented on #197
Seemingly we don't have a `#![no_std]` in https://github.com/sodiumoxide/sodiumoxide/blob/master/libsodium-sys/lib.rs

[2018-05-23 23:02] naftulikay commented on #203
@Dylan-DPC As a user of the library, I'm a bit familiar with the source code, and I have fairly good knowledge of applied cryptography, etc. Not sure where or how I could help, but willing and able :)

[2018-05-24 13:00] Dylan-DPC commented on #203
@naftulikay great. will add you to the organisation, repo and gitter

[2018-06-04 11:56] dnaq opened #219 "Time for a new release?"
We have had some pretty big pull requests lately, especially now that we create libsodium-sys with bindgen instead of manually. Maybe it's time for a new release?

Does anyone want to merge anything more before I push the crate?

[2018-06-04 15:11] kinggoesgaming commented on #219
None of current open PRs are unable position to be immediately merged in so it's a 👍 from me

[2018-06-05 09:12] Dylan-DPC commented on #219
Yeah definitely. However, i would like to have a 0.1 release sometime soon. @dnaq do you see anything that's pending for a 0.1?

[2018-06-05 09:18] dnaq commented on #219
We could do a 0.1, but before a 1.0 I would like to stabilize the api as
much as possible, e.g.

Do everything in the same way, make sure that we have non-allocating
versions of all primitives, make sure that we can build on embedded without
std (and add Travis tests for those cases), use sane serde serialization
instead of the current hack (since we can’t derive for large byte arrays),
use descri

[2018-06-05 10:29] Dylan-DPC commented on #219
Yeah. 1.0 is still a long way to go. Just wanted to do a 0.1 release so we can promise more stability.

[2018-06-06 19:55] dnaq commented on #219
0.1.0 is now pushed to crates.io

[2018-06-07 06:08] Dylan-DPC commented on #219
@dnaq it is better to publish after the release PR is merged. Also we need to create a github release before merging.

[2018-06-07 06:57] Dylan-DPC commented on #219
Created the [release](https://github.com/sodiumoxide/sodiumoxide/releases/tag/0.1.0).

[2018-06-07 07:09] #219 closed

[2018-06-07 08:14] dnaq commented on #219
@Dylan-DPC You are correct, I just wouldn't have the opportunity to publish the crate for a week or so if I didn't publish it yesterday.

[2018-06-10 23:14] jrmuizel commented on #201
What needs to be done to get your branch mergeable?

[2018-06-11 06:19] Dylan-DPC commented on #201
@cynecx do you want to merge it? the longer you wait the more conflicts you will end up with

[2018-06-11 17:50] Dylan-DPC opened #221 "Custom Error Types"
Currently in the crate we are doing `Err(())`. However, this isn't verbose enough for the user and he wouldn't know what error has occurred without going through the crate source. Instead we can create custom error types for different types of errors which along with a message, gives a clear meaning to the user about the error.

A general practice is to use the [failure](https://github.com/rust-la

[2018-06-12 01:57] nvesely commented on #221
I've never used this crate, but just skimmed the README to look for no_std compatibility and saw

So we'd have to do something like

[code]

universally. Depending on what type of error-handling we want to implement, this could become more complicated.

[2018-06-12 02:06] nvesely commented on #221
Wait that's not going to work. We'll have to write each function twice because the return types are different. Maybe this means we'll want to go a simpler route for error-handling.

[2018-06-12 09:07] Dylan-DPC commented on #221
@nvesely ah yes forgot about the no_std part. We will keep this pending for a while till we find a good solution for this

[2018-06-14 00:55] danielrangelmoreira commented on #101
Is there anyone working on this issue? I have implemented a partial functioning generic hash module for my toy project that may be useful or be used as a start point for the generic hash and blake module implementation. https://crates.io/crates/rsign

[2018-06-17 16:10] dnaq commented on #221
Can't we just create our own custom error type? Users of our crate can wrap it in failure if needed or do whatever they want with it.

[2018-06-17 17:34] naftulikay commented on #221
Yes, totally agree with @dnaq

[2018-06-17 21:47] nvesely commented on #221
Third for keeping it simple. Don't think we need to pull in additional crates for this one.

[2018-06-17 21:58] nvesely commented on #201
Let's see if @dkulic gets back this week, and if not go from there.

[2018-06-18 08:36] dkulic commented on #201
Hi, I am here. I will look for the conflicts.

[2018-06-18 14:30] Dylan-DPC commented on #221
I agree we may not need a crate right now for this. But failure is there for certain reasons, so in future there is a good chance we may be needing it. Can skip for now though.

[2018-06-20 13:59] kpp opened #223 "Could not compile v0.1.0 on Windows"
Have a look at this build: https://ci.appveyor.com/project/kpp/tox/build/1.0.1654
Commit: https://github.com/tox-rs/tox/commit/93f989a54b

Fixes https://github.com/tox-rs/tox/pull/160

[2018-06-20 17:28] Dylan-DPC commented on #223
@kpp Thanks for reporting this issue. We will look into it.

[2018-06-20 19:06] kpp commented on #223
You may use our [Appveyor config](https://github.com/tox-rs/tox/blob/master/.appveyor.yml) to setup CI

[2018-06-21 10:14] Dylan-DPC commented on #223
@kpp do you mind sending a PR? :stuck_out_tongue:

[2018-06-21 10:28] kpp commented on #223
Sure. Register your project at https://appveyor.com/ to allow github use webhooks to trigger CI buils

[2018-06-21 10:33] Dylan-DPC commented on #223
@kpp done :

[2018-06-21 12:00] kac- opened #224 "feature: decrementing Nonce or gen_mid_nonce()"
For two way communication ever i.e. secretbox it's crucial to avoid nonce collision when incrementing nonce scheme is used. Current solution for second-party would be i.e. to feed pre-made slice (with half of slice set to `0xff` and second half to `0x00`) into `Nonce::from_slice` (we cannot just set MSB in the slice because we don't know whether `from_slice` is BE or LE).
In my opinion lack of bui

[2018-06-21 12:14] jedisct1 commented on #224
That would be very clunky.

Don't reinvent the wheel. The key exchange function (`crypto_kx`) returns a pair of shared keys. Use one in one direction, the other one in the other direction.

And unless ordering is not important, just use `crypto_secretstream`, so you don't have to worry about nonces or key rotation.

[2018-06-21 13:48] kac- commented on #224
@jedisct1 I'm new to rust, read wrong docs https://docs.rs/exonum_sodiumoxide/0.0.20/exonum_sodiumoxide/ (no crypto_kx there), partially because [docs link from crates.io](https://docs.rs/sodiumoxide/0.1.0/sodiumoxide/) `does not exist` and so do https://sodiumoxide.github.io/.
`crypto_secretstream` will suite me best (from libsodium docs I see that I can calculate ciphertext length from plaintext

[2018-06-21 19:28] Dylan-DPC opened #226 "Cargo doc breaking builds"
This is a tracking issue for [serde doc issue](https://github.com/serde-rs/serde/issues/1318) which is currently breaking our [travis builds](https://travis-ci.org/sodiumoxide/sodiumoxide/jobs/395074939).

This has resulted in a [compiler issue](https://github.com/rust-lang/rust/issues/51661). There is nothing to be done on our side, so this issue will be closed once rust team resolves it.

[2018-06-22 06:10] #224 closed

[2018-06-22 06:14] Dylan-DPC commented on #224
@kac- yeah there is some issue with `cargo doc` atm. you can check the 0.1.0 docs [here](https://docs.rs/crate/sodiumoxide/0.1.0)

[2018-06-28 10:33] kpp commented on #192
One more thing about bindgen and cross-platformness: do we really have to regenerate the bindings in the build script? I would prefer the bindings to be commited in the repo and be touched as the less often as possible.

[2018-06-29 03:02] nvesely opened #231 "Pin version of libsodium"
Each version of sodiumoxide should be pinned to a specific version of libsodium. A `build.rs` should fail to compile with an informative error message if linked the wrong version of libsodium. An idea is to create `libsodium-version.txt` in the top-level directory that just contains the libsodium version string such that `build.rs`, Travis, AppVeyor, etc. can all read it, making updating easier an

[2018-06-29 03:05] nvesely commented on #231
Btw we're testing 1.0.15 in Travis whereas 1.0.16 is the latest version.

[2018-06-29 03:19] nvesely opened #232 "Investigate potential problems with bindgen"
@Fraser999 wrote:

It would be good to

- Confirm that the following sub-bullets are not affecting sodiumoxide:
  - [ ] i
  - [ ] ii
  - [ ] iii
- [ ] See how we might address building on Windows preferably without tweaking the generated code. This might include documenting additional dependencies for the platform or making upstream changes to bindgen.

[2018-06-29 03:20] psivesely opened #233 "Test libsodium on the 5 big platforms"
- [x] Linux
- [x] Windows
- [x] macOS
- [ ] iOS
- [x] Android

[2018-06-29 03:28] nvesely commented on #192
You can use @sodiumoxide/owners.

Yes, I had this on my todo list. I just opened #231.

`pkg-config` doesn't support `no_std`, but we might be able to work around that with libcore or another `no_std` compatible helper crate.

As far as the bindgen issue goes, I do think we need to improve the testing situation of this crate drastically, including ideally testing on the 3 major desktop and 2 major

[2018-06-29 03:37] nvesely opened #235 "Rustfmt"
`cargo fmt --all -- --check` should run in a Travis matrix build with a pinned nightly version and builds should fail when . The nightly should be pinned because:

1. the version of Rust determines the version of rustfmt when installing via the standard `rustup component add rustfmt-preview`
2. if you don't pin a nightly then:
  1. in order to pass CI you might have to let rustfmt modify code you

[2018-06-29 03:45] nvesely opened #236 "clippy"
`cargo clippy --all --tests --all-features -- -D clippy` should be run with a pinned clippy version.

We should use the `clippy_pedantic` setting via a `clippy.toml`. While it may occasionally throw out a false positive, I think it's better just to use an ignore attribute appropriately, than to sacrifice some delicious pedantry :japanese_ogre:

See the reasoning in #235 for why clippy should be pi

[2018-06-29 04:01] dnaq commented on #231
Why pin to a specific version? Libsodium follows semver, so pin to a
minimum version instead.
On Fri, 29 Jun 2018 at 06:05, Noah Vesely <notifications@github.com> wrote:

[2018-06-29 17:47] Dylan-DPC commented on #235
We don't need to pin rustfmt to a nightly. The problem with pinned version is that it is dificult to expect everyone to be on the same version. We have been  using the latest nightly on the uuid crate and we didn't face much issues with the banking on the latest nightly.

Yeah there are few instances where rustfmt has a new rule or is broken and changes the formatting of the entire codebase. In th

[2018-06-30 01:07] nvesely commented on #235
There should be a rustfmt bot that checks master daily and makes a PR if necessary lol. I’m fine with not pinning, but have gotten complaints before about having to keep re-running it during extended PR processes where it updated multiple times. Also the diffs. But it’s almost a non-issue, so let’s not ¯\_(ツ)_/¯

[2018-06-30 05:41] Dylan-DPC commented on #235
We have been following the latest-nightly-fmt for uuid and haven't had any issues so far. I think it is best to stick to that as we are already testing on latest nightly and it is easier to get people to use the latest nightly than pin them to a certain build and expect them to update when we update. Yeah it's a non-issue.

[2018-07-09 13:07] oherrala opened #238 "Cross compilation of libsodium-sys with bindgen doesn't work"
Compilation of libsodium-sys fails when trying to cross compile (Rust target `armv7-unknown-linux-musleabihf`).

Related bindgen issue https://github.com/rust-lang-nursery/rust-bindgen/issues/1229 which also gave hints to debugging.

Compilation currently fails with:

[code]

and with tweaks to `libsodium-sys/build.rs` I at least got it compiled:

[code]

Seems pretty basic except I don't know how

[2018-07-12 23:53] nvesely commented on #197
Note: [this](https://github.com/dalek-cryptography/subtle/pull/18/files) looks like a useful pattern.

[2018-07-21 17:57] Ralith commented on #232
Requiring libclang.so at build time is pretty onerous in general. My distro doesn't even package libclang as a dynamic library.

[2018-07-24 02:53] darrenldl opened #241 "Test suite improvement"
This is largely a checklist for me to keep track of what tests(property tests, test vectors, etc) to add, but also useful in case someone else wants to add tests but avoid duplicate work.

Still in process of adding new items.

- [ ] `crypto/pwhash/scryptsalsa208sha256.rs`
  - [ ] `prop_test`
    - [ ] `pwhash_verify` should always verify `pwhash` successfully
    - [ ] `pwhash_verify` should alwa

[2018-07-24 04:32] vu3rdd opened #242 "Failure while cross compiling for Android armv7"
I am trying to cross compile a project that depends on `sodiumoxide`. Since I will be need to load my project via JNI, I am building a dynamic library. I get a linking failure that the `libsodium.so` could not be found. I have reproduced it by cross compiling `sodiumoxide` (instead of my project that depends on it) with the following diff applied for building a dynamic library.
[code]
I invoke the

[2018-07-24 04:59] vu3rdd commented on #242
OK, so cross compiling libsodium separately and dropping the `.so` file into the `target/release/deps` directory made the error go away.

[2018-08-04 14:54] ruuda commented on #116
Is there anything I need to do to get this to work besides setting the `SODIUM_STATIC` environment variable during `cargo build`? With version 0.0.16, when I set `SODIUM_STATIC` I still get a dependency on `libsodium.so`.

[2018-08-08 17:17] warner opened #244 "build failure (debian "stretch")"
Maybe I'm missing something, but current trunk doesn't build for me on my linux box (debian/stretch, rustc 1.28.0, I've got `clang` installed so I made it past the surprising "cannot find `stddef.h`" errors, `libsodium-dev` 1.0.11-2 installed from a debian package).

There's one batch of errors like this:

[code]

and another set like:

[code]

(34 errors in total).

Is this happening because the

[2018-08-09 13:46] kinggoesgaming commented on #242
This should be on the TODO list for Na2O CI story

[2018-08-12 21:35] kpcyrd commented on #231
Please note that pinning a specific version could cause issues for linux distributions. Requiring a minimum version to build successfully seems more sensible, but the build is already failing in that case anyway.

[2018-08-12 21:37] kpcyrd commented on #203
I have a couple of projects that depend on sodiumoxide, if you're still looking for help I would be interested in joining.

[2018-08-13 07:29] jamessewell commented on #244
Doesn't build for me either on CentOS 7.2

[2018-08-13 08:14] dbrgn commented on #232
The libclang requirement broke my tests: https://github.com/dbrgn/threema-gateway-rs/pull/19 While that can easily be fixed, it will also break the tests/builds of all downstream crates (as long as libclang is not installed). I'm not yet sure whether I want that. Would there be a possibility to get rid of that requirement?

[2018-08-19 08:17] zetok opened #245 "Regression: libsodium-sys 0.0.16 → 0.1.0 fails to build"
[code]

I've got plenty of `libclang.so` on my system:

[code]

IMO making library consumer set some env variables just to compile library is not a good idea, especially when previously it worked just fine without having to do it.

[2018-08-20 16:02] lovesh opened #246 "Support Hexadecimal encoding/decoding from libsodium"
Libsodium has methods `sodium_bin2hex` and `sodium_hex2bin` for going to and fro between raw bytes and hexadecimal representation. Would folks be interested in bringing them as utilities?

[2018-08-21 06:04] warner commented on #245
Just guessing, but do you maybe have a `libclang` package installed but not a `libclang-dev` package? On some of my systems, it's only the `libclang-dev` package that provides the `.so` symlink to some specific numbered version of the library. (I don't know what platform you're on, `-dev` is the debian/ubuntu suffix, I think RPM-style packages have a different spelling, maybe `-devel`).

Also, I'v

[2018-08-21 19:46] nvesely commented on #231
See https://github.com/sodiumoxide/sodiumoxide/issues/234#issuecomment-414797999. I think we can add this without causing any issues for any platform.

[2018-08-21 19:48] nvesely commented on #203
@kpcyrd I'm on-board with you joining. We already have a lot of maintainers, but that's a good thing IMO.

[2018-08-21 19:51] Dylan-DPC commented on #203
@nvesely, @kinggoesgaming is open to stepping down as a co-maintainer because he isn't able to devote time to the repo. So we can swap him with @kpcyrd

[2018-08-21 19:53] nvesely commented on #203
Sgtm!

[2018-08-21 19:54] naftulikay commented on #203
FWIW I'm also not able to devote much time to it, other than providing
advice on API decisions and applied crypto stuff. I was overly optimistic
about my time constraints when I joined. I don't necessarily want to leave
the project, but I figured I'd be honest here.

On Tue, Aug 21, 2018 at 12:51 PM, Dylan DPC <notifications@github.com>
wrote:

[2018-08-21 20:11] Dylan-DPC commented on #203
@naftulikay That's fine. We are moving slowly on this repo so we don't need to a lot of involvement. Just a review whenever you can should be enough :+1:

[2018-08-21 20:12] Dylan-DPC commented on #203
I've added @kpcyrd to the organisation :+1:

[2018-08-21 21:32] kpcyrd commented on #203
Awesome, thank you :)

[2018-08-21 21:53] nvesely commented on #246
I think this would be good because while there's probably a sufficiently simple and efficient way to do this using the Rust core libraries it probably won't execute in constant-time like the libsodium implementation.

If you have an immediate use case for these functions we could prioritize including it in the next release. Let us know if you want to write the PR, otherwise I would be willing to d

[2018-08-21 22:27] kpcyrd commented on #246
The rust way would be the [`ToHex`][0] and [`FromHex`][0] traits of the hex crate. We could consider implementing those traits using the libsodium methods for the structs in sodiumoxide in addition to providing access the the function itself.

[0]: https://docs.rs/hex/0.3.2/hex/trait.ToHex.html
[1]: https://docs.rs/hex/0.3.2/hex/trait.FromHex.html

[2018-08-21 22:45] nvesely commented on #244
Hi @warner,

First, I just wanted to say I'm a big fan of your work!

Anyway, I'm also on Debian stretch and am not able to reproduce the errors you're getting here. To be clear, by building the current trunk you mean the HEAD of the `master` branch? I have the same version of libsodium installed (in fact, I had only installed `libsodium` and not `libsodium-dev` until now) and I have both clang 3.

[2018-08-22 00:35] nvesely commented on #245
Can you share the output of `sudo /sbin/ldconfig -p | grep clang`? I'm also thinking this is a linking problem.

I agree this is not an ideal situation, but for debugging purposes can you try setting `export LIBCLANG_PATH=/usr/lib64/llvm/6/lib64/libclang.so.6.0` (or whatever version is most appropriate for your platform)?

[2018-08-22 00:58] nvesely commented on #203
@naftulikay You should at least be following the repo though :smiling_imp:

[2018-08-22 01:49] naftulikay commented on #203
My bad, refollowed.

[2018-08-23 06:11] lovesh commented on #246
@nvesely Will submit

[2018-08-23 17:12] nvesely commented on #246
Awesome! How are you going to do it? Just expose the functions with a more Rust idiomatic interface or implement the hex traits for all the structs? Since lots of structs rely on the same macro code, it could require a lot less effort than you think to do it the latter way.

[2018-08-23 18:05] naftulikay commented on #246
This is an awesome idea, and reusing APIs that already exist is a great solution. The usability of sodiumoxide and the security of libsodium are really compelling.

[2018-08-23 18:19] lovesh commented on #246
@nvesely I was planning to follow the convention in `src/utils.rs` and expose the functions. In "implement the hex traits for all the structs", which structs are you referring to?

[2018-08-23 18:30] nvesely commented on #246
So it probably doesn't make sense for every single struct, but to give some examples, structs that represent keys, digests, and ciphertexts could all implement `ToHex` and `FromHex` from the `hex` crate.

However, I think better than adding a new external crate to this project (which needs to be `no_std`-compatible--I haven't checked), we could just create our own `ToHex` and `FromHex` traits that

[2018-08-23 22:36] nvesely commented on #246
@lovesh I assigned you to denote you're working on this issue. If at any point you're not able to continue working on it for any reason before completion, just let us know and post a link to the work-in-progress branch if possible, and I can take it over.

[2018-08-24 15:39] lovesh commented on #246
@nvesely So i can go ahead with exposing the function like in utils.rs or you want me to implement the trait

[2018-08-24 18:07] nvesely commented on #246
I think you should write new traits `ToHex` and `FromHex` that are modeled after the traits in the `hex` crate with the same name, with the modification I described above to expose an `ignore` field in `FromHex::from_hex`.

Next implement these two traits for all structs it makes sense to do so for, practice DRY by creating or extending macros. However, before extending a macro used with many stru

[2018-08-27 13:50] zetok commented on #245
@warner I'm on Gentoo, and it doesn't strip from packages stuff needed for compiling.

@nvesely
[ldconfig -p | grep clang.txt](https://github.com/sodiumoxide/sodiumoxide/files/2324071/ldconfig.-p.grep.clang.txt)

`cargo build` still fails after `export LIBCLANG_PATH='/usr/lib64/llvm/6/lib64/libclang.so.6.0'`

[2018-08-27 13:54] zetok commented on #245
Actually, exporting just the *path* did the trick and libsodium-sys was built successfully.

Exported path: `export LIBCLANG_PATH='/usr/lib64/llvm/6/lib64/'`

[2018-08-27 21:10] nvesely commented on #245
What's the error with sodiumoxide compiling now?

[2018-08-28 01:08] zetok commented on #245
[sodiumoxide errors](https://gist.github.com/zetok/1f37eded4d6f3543c4d002d99d97d2dc)

[2018-08-28 01:59] zetok commented on #245
libsodium 1.0.11

[2018-08-29 10:52] katyo commented on #244
Installing *libsodium-dev **1.0.16-2~bpo9+1*** complettely solves this issue.

[2018-08-29 22:55] kpcyrd commented on #245
This is probably the same issue as #244. Debian stretch currently ships 1.0.11 and stretch-backports is on 1.0.16.

Gentoo currently lists 1.0.15 as stable, you could try updating to that if possible. 1.0.16 is available as well but would require unmasking.

[2018-08-30 00:54] nvesely commented on #244
Short term fix: #248. Long-term fix: #234.

[2018-08-30 00:54] nvesely commented on #245
Short term fix: #248. Long-term fix: #234.

[2018-09-09 12:10] nvesely commented on #197
Okay, so libsodium-sys cannot build without std because bindgen requires std. So hypothetically if libsodium-sys gets built on a system with std and then used on a system without std, then sodiumoxide can be updated and rebuilt without std. And for that matter any project that uses libsodium-sys or sodiumoxide could also rebuild on top of an already-built libsodium-sys without needing std. Not sur

[2018-09-10 19:59] kurnevsky commented on #246
@nvesely I think the raw function would be useful as well to convert any binary data to/from hex with constant time, not just types from sodiumoxide. So it can be a good first step.

[2018-09-10 20:57] nvesely commented on #246
^ True. I think we could merge a basic utility implementation first, and then leave this issue open until we've implemented the traits, if such a PR would be made.

[2018-09-10 22:43] Dylan-DPC opened #249 "Support for XChaCha20-Poly1305"
This was implemented in #193 but had to close it due to no activity. If anyone wants to implement it, you can start from scratch and use the PR as a reference.

[2018-09-10 22:45] Dylan-DPC opened #250 "Support For Argon2"
This was implemented in #194 but had to close it due to no activity. If anyone wants to implement it, you can start from scratch and use the PR as a reference.

[2018-09-11 17:53] Dylan-DPC opened #251 "Meeting #1"
Tracker issue for 1st Meeting:

This issue will cover everything regarding the meeting from finalising the timings to what is discussed in the meeting.

[2018-09-11 18:26] Dylan-DPC commented on #251
@sodiumoxide/owners Do pick your preferred timings for the meeting on [doodle](https://doodle.com/poll/ka2m4in6vdgbaxsc) so we can finalise a time slot for the meeting.

Other collaborators and watchers are welcome as well.

PS: Posted here as well in case some of you don't check gitter.

[2018-09-11 22:30] samscott89 commented on #250
Also in #239

[2018-09-12 02:41] nvesely commented on #244
Can you confirm the this builds when using the compiler and library versions specified in the README? @warner

[2018-09-12 02:41] nvesely commented on #245
Can you confirm the this builds when using the compiler and library versions specified in the README? @zetok

[2018-09-12 05:11] lovesh commented on #246
Apologies, this is taking longer. Here is a basic utility added https://github.com/sodiumoxide/sodiumoxide/pull/252

[2018-09-12 07:01] darrenldl commented on #251
I assume I'll leave it blank as I can't make it?

[2018-09-12 07:03] Dylan-DPC commented on #251
@darrenldl yeah or there is a "not attending" or some similar button iirc

[2018-09-12 14:18] kurnevsky commented on #246
@lovesh windows build is broken, that's why appveyor fails. Nothing wrong with your code here.

[2018-09-18 07:30] ccfb3ee765a58cae commented on #249
Sorry for inactivity. #253 adds support for XChaCha20-Poly1305

[2018-09-18 21:42] Dylan-DPC commented on #249
#253 covers this and is merged so closing the issue

[2018-09-18 21:42] #249 closed

[2018-09-19 15:51] Dylan-DPC commented on #251
@sodiumoxide/owners The meeting is scheduled for 26th September 1630 UTC.

## Agenda:
* Current state of the crate
* Existing issues / PRs
* Improving the maintainance of the repo
* What more do we need  for 0.1.1 / 0.2.0

[2018-09-26 20:12] dnaq opened #256 "Make --no-default-features great again"
Either we need to fix so that sodiumoxide actually builds with --no-default-features (no-std) or we need to remove support for --no-default-features completely, which will clean up the codebase as well.

[2018-09-26 20:14] Dylan-DPC commented on #251
# Notes from the meeting:

### Current Issues

**Problems with current PRs (and PR process)**:
1 The secretstream API isn't finished yet
2. A lot of the pull requests don't have comprehensive tests
3. break the coding style of the rest of the library
4. #188, #237 needs more tests
5. #239 A cursory overview reviews some mistakes, e.g. a mutable pointer cast from a const pointer to a non-mutable ob

[2018-09-26 20:19] dnaq commented on #256
This should be easily solvable by removing our dependency on quickcheck, and all quickcheck tests completely. Those tests don't add anything to the library as is anyway.

[2018-09-26 20:22] dnaq commented on #256
Scratch that, we just need to import prelude::* before the tests when building with no-std

[2018-09-26 21:37] jendakol commented on #244
Hey @nvesely, I ran into a similar issue like this. Unfortunately recommendations you made in the readme didn't help.
Currently I have plain Debian 9 (I'm building something in Docker actually, using `debian:9-slim`) with _stretch-backports_, have installed `libsodium-dev=1.0.16-2~bpo9+1` and `clang-5.0` but still getting a ton of errors like those above :cry:
Can provide you the Dockerfile, if it

[2018-09-27 03:10] nvesely commented on #244
@jendakol Yeah, go ahead and post the Dockerfile. I suspect that even though the correct versions are installed, they might be installed alongside earlier versions, and are not set as the default. We'll see though.

[2018-09-27 09:47] jendakol commented on #244
@nvesely Here it is: https://github.com/jendakol/sodiumoxide-problem (It maybe contains even some unrelated stuff, it's derived from my use-case, but I believe it doesn't matter.)

BTW it works on my own system (Ubuntu 18.04) with clang 6.0. Any idea how to get clang 6.0 to Debian 9? :smiley:

[2018-09-27 20:15] jendakol commented on #244
OK, I tried to change the base to `ubuntu:bionic` and everything works (there is clang 6.0 installed).

[2018-10-02 22:32] nvesely commented on #201
There are two closed PRs that fix this issue: #222 and #240. #222 was closed because it seemed like there was momentum behind a re-implementation with a different API, but then too many people had problems with the new API implemented in #240 as well. There has been a ridiculous amount of back and forth over the issue, and not much progress has been made with respect to some sort of consensus on a

[2018-10-02 23:29] Dylan-DPC commented on #201
Yeah it is sad to be in a stalemate state where there is no clear advantage by one proposal over the other and there is no clear consensus.

What we can do is "fastrack" this issue - that is whoever picks up just builds the complete feature without facing any questions (except for bugs during review process).

If all fine, then any one (including @nvesely if they want) can pick this and go ahead a

[2018-10-03 00:49] samscott89 commented on #201
Apologies for my part in drawing out the discussion. My intention was to support the overall proposal, but to suggest some alternative namings, which I had hoped would be fairly straightforward yes/no.

For what it's worth, I don't agree it's such a simple/trivial feature to implement. Especially when the goal of a library is to expose safe cryptography -- both in the Rust meaning of type/memory s

[2018-10-03 22:01] Dylan-DPC commented on #233
Test libsodium on the above platforms. If it works well then submit a PR updating the [readme](https://github.com/sodiumoxide/sodiumoxide/blob/master/README.md#platform-compatibiility). If it fails and you can't resolve it, create an issue here.

[2018-10-03 23:04] #226 closed

[2018-10-09 18:34] samscott89 commented on #201
I've had a go at building out some API options. My starting point was to try and write down a use case, so we could see how the APIs might work in context. So I recreated the [example code from the libsodium docs of file encryption](https://download.libsodium.org/doc/secret-key_cryptography/secretstream#file-encryption-example-code).

You can see the results in this branch: https://github.com/sams

[2018-10-10 19:33] #244 closed

[2018-10-10 19:33] #245 closed

[2018-10-10 20:29] nvesely commented on #201
I had the same idea for the `init_{pull,push}` methods, but I didn't know if the compiler would accept the function signatures (lines 431 & 436)! I'm glad that you can do that and I like it. Not sure if we should provide two different methods for initializing though (i.e., maybe make the `Stream<{Push,Pull}>::init` methods private).

I don't like the new low level functions which return Vec becaus

[2018-10-10 20:32] nvesely commented on #201
Oh and good work on this :rainbow: :sparkles:

[2018-10-10 22:12] 0e4ef622 commented on #233
I got it to compile and run tests on Windows (they all succeeded), although I had to do a lot of fiddling to get the linker to find the library.

[2018-10-10 22:17] Dylan-DPC commented on #233
@0e4ef622 Thanks for testing this. 2 things:

1) Can you elaborate on how you got the linker to find the library? We can add these steps to the readme (you are free to PR that)

2) Can you help us set up appveyor properly? (See #258).

[2018-10-10 22:18] 0e4ef622 commented on #233
2 things worked actually, renaming the library from libsodium.lib to sodium.lib, and changing the build script to look for libsodium.lib instead of sodium.lib

[2018-10-10 22:47] samscott89 commented on #201
Thanks for the comments. I should say that I went for just dumping everything out to get feedback. For the final version, I agree we should apply your statement:

So for most of these we can err on the side of not including, and expose later if there's demand. With the trait stuff, that could even just be in a separate examples repo which we point people towards. Or do the approach that serde take

[2018-10-11 07:05] jendakol commented on #244
Does closing of this mean it's fixed?

[2018-10-11 10:10] nvesely commented on #244
Afaict. If someone can show with certainty it's failing using the recommended versions they can re-open it.

[2018-10-11 10:29] jendakol commented on #244
I am a little bit confused right now. Your docs state `Clang >= 3.9` right now however I tried and anything below 6.0 just doesn't work. Is that uncertain? :-)

[2018-10-11 14:14] nvesely commented on #201
I think a `Stream::new` method which takes no arguments and returns a `(Stream<Push>, Header)` would be a useful convenience vs. generating the key separately and passing it to `Stream::init_push`. Also, I think bringing back `Stream::is_not_finalized` would be good.

I'm against all uses of vec for efficiency (stack vs. heap) and no_std compatibility reasons. One thing that might be good to help

[2018-10-15 13:10] Dylan-DPC commented on #232
@dbrgn sorry but no updates yet. Was busy getting some other work sorted on the repo. If you have any suggestions, feel free to let us know how you think we can solve this.

[2018-10-15 16:52] Ralith commented on #232
Why not run bindgen manually and commit the generated code, like every other rust -sys crate?

[2018-10-18 22:28] #251 closed

[2018-10-25 15:48] AljoschaMeyer opened #267 "libsodium-sys does not compile"
Running `cargo check` for a project depending on  sodiumoxide 0.1.0 results in the following error message:

[code]

The file in question has a bunch of the following blocks:

[code]

`cargo clean` doesn't change anything, it recompiles dependencies and gives up once it reaches libsodium-sys.

`rustc --version --verbose`:

[code]

[2018-10-25 16:40] kpcyrd commented on #267
Could you also provide the libsodium version installed on your system and which distro you're using?

[2018-10-26 11:52] AljoschaMeyer commented on #267
Distro: arch linux

`uname -a`: `Linux aljoscha-laptop 4.18.16-arch1-1-ARCH #1 SMP PREEMPT Sat Oct 20 22:06:45 UTC 2018 x86_64 GNU/Linux`

`pacman -Q libsodium`: `libsodium 1.0.16-1`

https://www.archlinux.org/packages/community/x86_64/libsodium/

[2018-11-01 13:16] kpp opened #268 "Failed to run pkg-config"
Error:

[code]

Which can be fixed easy with `$ export SODIUM_LIB_DIR=/asd; cargo build`
That is extremely strange you ask a user to install `pkg-config`.

[2018-11-09 17:29] kpp opened #272 "auth_state unused macro definition"
Warning:

[code]

It is possibly caused by `src/crypto/onetimeauth/mod.rs`

[code]
The compiler says that you don't use `auth_state!` inside `src/crypto/onetimeauth/poly1305.rs`

[2018-11-09 17:32] kpp opened #273 "redundant linker flag specified for library `sodium`"
`cargo build`:

[code]

Affected OS:
- Linux
- Windows

[2018-11-09 18:15] kpp commented on #267
@AljoschaMeyer would you please try to run `cargo build` again on fresh `master`?

[2018-11-10 17:31] #273 closed

[2018-11-12 14:53] rafael81 opened #275 "libsodium-sys does not compiled on win10 for static library"
[code]
And sodium library is located like below.

![image](https://user-images.githubusercontent.com/36774/48354782-e3425d80-e6d5-11e8-8f91-bcfba7182316.png)

The environment variables are following.
[code]

[2018-11-12 15:14] kpp commented on #275
According to docs:

To build sodiumoxide using libsodium from vcpkg, you have to add either VCPKGRS_DYNAMIC=1 (for dynamic linking) or RUSTFLAGS=-Ctarget-feature=+crt-static (for static linking) to environment variables.

Please report if it does not help.

[2018-11-13 12:08] kpp commented on #275
Huh. It worked fine for me even if I don't set `SODIUM_STATIC` or `RUSTFLAGS`. Maybe you should update rustc?

[code]

examples/simple.rs:

[code]

[2018-11-13 12:53] DoumanAsh commented on #275
Interestingly enough, from error in the build script:
[code]

Does it actually look for `libsodium.lib`? I think it looks for `sodium.lib`

[2018-11-13 15:12] kpp commented on #275
@DoumanAsh  Yes.

[2018-11-13 15:15] kpp commented on #275
@rafael81 I checked 4 different ways of using sodiumoxide on Win 10, using vcpk(static/dynamic) and using binaries(static/dynamic).

Here is the full HOWTO:

## Using vcpkg:

https://github.com/Microsoft/vcpkg

[code]

* dynamic:

install libsodium:

[code]

[code]

* static:

install libsodium:

[code]

[code]

## Precompilled binaries:

Download and extract a release for MSVC: https://download.l

[2018-11-13 15:41] kpp commented on #275
@DoumanAsh Your issue was fixed in https://github.com/sodiumoxide/sodiumoxide/commit/d057f62b981bd3444bb064b2ce765085d1e4c3d3#diff-03b86c4d158daab101ab51fd64460e9b .

[2018-11-13 15:49] kpp commented on #275
@DoumanAsh Thank you for help.

[2018-11-13 15:49] #275 closed

[2018-11-13 15:53] kpp commented on #267
@AljoschaMeyer would you please install `cargo-outdated` and give me the output of `cargo outdated`?

[2018-11-13 15:57] kpp commented on #232
I agree. I hate build deps like `clang.so` or `bindgen`.

@dnaq @Dylan-DPC @kurnevsky What are pros and cons of generating bindings on the fly?

[2018-11-13 16:01] kpp commented on #223
Fixed.

[2018-11-13 16:01] #223 closed

[2018-11-13 16:25] AljoschaMeyer commented on #267
- `git clone https://github.com/sodiumoxide/sodiumoxide.git`
- `cd sodiumoxide`
- `cargo outdated`:

[code]

[2018-11-13 17:05] kpp commented on #267
This issue can be caused by an old version of `bindgen`. Would you please call `cargo update` and then `cargo build` again?

[2018-11-13 22:35] kpp commented on #272
This is how it was fixed in https://github.com/maidsafe/rust_sodium/commit/bee294c33f19d47f88b35e104fd9c8ba42ca3ec4#diff-e6bfd4aedcfdfbc5a9aaf0b38b0d8389R181 :

[code]

[2018-11-13 22:40] kpp commented on #272
Another solution is to move macro auth_state into `src/crypto/auth/auth_state_macros.rs` and:

[code]

[2018-11-13 22:40] AljoschaMeyer commented on #267
`cargo update` doesn't do anything (libsodium-sys has a build dependency on bindgen 0.38.0, so it uses that even though a newer version exists). I changed the dependency of libsodium-sys to bindgen 0.43.0, ran `cargo update` and then `cargo build`, but this still got the same old error (`cargo outdated` only reported quickcheck in that case).

[2018-11-14 09:44] kpp commented on #197
Also it is possible to make libsodium-sys a `no_std` crate:

[code]

[2018-11-14 10:01] kpp commented on #197
See https://github.com/rust-lang-nursery/rust-bindgen/issues/1439

[2018-11-14 10:20] kpp commented on #197
One of the solutions is to hardcode the version of sodium_bindings.rs, and get rid of bindgen and use pkgconfig only in libsodium-dev:feature=std.

[2018-11-14 18:59] #246 closed

[2018-11-15 01:50] kpp commented on #250
#239 merged

[2018-11-15 01:50] #250 closed

[2018-11-15 01:52] kpp commented on #132
Argon2 #239 is merged

[2018-11-15 01:52] #132 closed

[2018-11-15 13:42] AljoschaMeyer commented on #267
https://gist.github.com/AljoschaMeyer/84de51cae92eb5f5d927cf5c98f5211c

OS is arch linux.

`uname -a`: `Linux aljoscha-laptop 4.18.16-arch1-1-ARCH #1 SMP PREEMPT Sat Oct 20 22:06:45 UTC 2018 x86_64 GNU/Linux`

`pacman -Q libsodium`: `libsodium 1.0.16-1`

https://www.archlinux.org/packages/community/x86_64/libsodium/

[2018-11-15 13:54] kurnevsky commented on #267
@AljoschaMeyer do you have custom rustfmt config? Your `sodium_bindings.rs` is weirdly formatted, so it might be the problem.

[2018-11-15 13:58] kurnevsky commented on #267
@AljoschaMeyer It's definitely rustfmt bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1432514
Try to update it.

[2018-11-16 13:56] kpp opened #280 "crypto::pwhash::argon2i13::test fail on libsodium 1.0.13-1"
[code]

[2018-11-16 13:58] kpp commented on #280
Same on libsodium-1.0.14

[2018-11-16 14:10] kpp commented on #280
libsodium-1.0.15 and libsodium-1.0.16 passed tests

[2018-11-16 14:11] kpp commented on #280
Depends on #231

[2018-11-16 15:08] Dylan-DPC commented on #280
@kpp we can add it to the docs above the function

[2018-11-16 15:15] kpp commented on #280
Yes that should be enough at the moment. But there is more we can do. See https://github.com/maidsafe/rust_sodium/blob/master/rust_sodium-sys/build.rs#L64

[2018-11-16 16:06] Dylan-DPC commented on #280
Yah that's the next step :D

[2018-11-16 17:47] rafael81 commented on #275
@kpp Can you please update the latest library on crate.io ?

[2018-11-16 17:54] Dylan-DPC commented on #275
@rafael81 we will have a release soon. Just waiting to iron out some other issues

[2018-11-18 12:40] AljoschaMeyer commented on #267
Wow, I wasn't even aware I had that installed, let alone that it might affect whether something compiles.

`rustfmt --version`: `rustfmt 0.99.6-nightly (750b252 2018-10-18)`

Still failing :(

[2018-11-18 14:50] kpp commented on #267
`cargo clean && cargo build` still failing too?

[2018-11-18 17:13] AljoschaMeyer commented on #267
Yup. For what it's worth, I've already used another crypto module by now, so resolving this isn't particularly important for me. But I'm happy to try out more things if you want to figure this out.

[2018-11-18 18:43] kpp commented on #267
Which one?

[2018-11-20 18:41] kpp commented on #267
@AljoschaMeyer would you please help me to check whether my fix worked for you?

[code]

[2018-11-20 19:32] kpp commented on #272
@Dylan-DPC need your attention

[2018-11-20 20:32] Dylan-DPC commented on #272
@kpp travelling today. Will get back to you when I can access my system tomorrow

[2018-11-21 07:18] Dylan-DPC commented on #272
@kpp we can do as you suggested in [this comment](https://github.com/sodiumoxide/sodiumoxide/issues/272#issuecomment-438466185)

[2018-11-21 10:32] AljoschaMeyer commented on #267
@kpp It works! :green_heart:

[2018-11-21 11:32] kpp commented on #267
We will release the fix soon

[2018-11-21 11:34] kpp commented on #242
@vu3rdd would you please test it again?

[code]

And use this(https://github.com/maidsafe/rust_sodium#cross-compiling-for-arm) guide to crosscompile for armv7?

[2018-11-21 11:36] kpp commented on #197
@Reisen Hello. Would you please test it again?

[code]

And use this(guide) https://github.com/maidsafe/rust_sodium#cross-compiling-for-arm ? Or you may try to use xargo. Any info would help.

[2018-11-21 11:43] kpp commented on #238
@oherrala Hello! would you please test it again?

[code]

And use this(https://github.com/maidsafe/rust_sodium#cross-compiling-for-arm) guide to crosscompile for armv7-unknown-linux-musleabihf?

[2018-11-21 15:52] kpp commented on #242
It failed.

[code]

.cargo/config :
[code]

[code]

We need more investigations.

[2018-11-21 16:12] Reisen commented on #197
@kpp Hey, I had actually switched to another library at the time since opening this ticket, but I do have the commits lying around. I will give it a shot this weekend and try and see if I can get this working.

[2018-11-21 17:47] kpp commented on #242
The best way to start is  https://github.com/jedisct1/libsodium/blob/master/dist-build/android-armv7-a.sh , https://github.com/jedisct1/libsodium/blob/master/dist-build/android-build.sh . I am not an android dev, it will be hard for me to debug it.

[2018-11-21 23:56] #272 closed

[2018-11-22 09:23] #280 closed

[2018-11-22 10:01] kpp commented on #232
Fixed in https://github.com/sodiumoxide/sodiumoxide/pull/281

[2018-11-22 10:01] #232 closed

[2018-11-22 10:01] kpp commented on #267
Fixed in https://github.com/sodiumoxide/sodiumoxide/pull/281

[2018-11-22 10:01] #267 closed

[2018-11-22 18:47] #235 closed

[2018-11-22 19:24] kpp opened #286 "error: hex2bin more strictly aligned"
Output of `cargo clippy`:

[code]

https://rust-lang.github.io/rust-clippy/master/index.html#cast_ptr_alignment

@lovesh need your help

[2018-11-22 19:58] kpp commented on #286
Seems like we have to use https://doc.rust-lang.org/std/ffi/struct.CStr.html

[2018-11-23 07:53] dnaq commented on #286
This is completely broken. hex_end should be a pointer to a pointer, so it’s not just an alignment issue, this is memory unsafe code.

[2018-11-23 07:56] dnaq commented on #286
We should remove hex2bin and bin2hex completely from the repo until someone has time to do a fix.

Are these functions part of the latest release? If so we should push a new release ASAP, otherwise we could wait.

[2018-11-23 07:58] kpp commented on #286
I have already found a fix https://github.com/sodiumoxide/sodiumoxide/pull/288  . I need to know how idiomatic bindings to these functions should look like.

[2018-11-23 08:05] kpp commented on #286
No

[2018-11-23 08:08] dnaq commented on #286
Another question is how can we improve our processes so that we won’t make such a mistake again. Of course running clippy is a good first step, but here we have failed with our code reviews and test coverage.

[2018-11-23 08:48] #286 closed

[2018-11-23 22:14] kpp opened #291 "Reduce the length of unsafe blocks"
Example:

[code]

[2018-11-24 06:54] dnaq commented on #291
I think we misunderstood each other. The point was to change code like this:

‘’’
let keybytes = [0u8; 32];
ffi::foo(keybytes.as_mut_ptr());
Key(keybytes)
‘’’

To:
‘’’
let key=Key([0u8; 32]);
ffi:foo(key.0.as_mut_ptr());
key
’’’

[2018-11-24 08:36] dnaq commented on #291
Reducing the length of the `unsafe`-blocks could be done at the same time though.

[2018-11-26 06:46] is2ei commented on #233
Any test scenarios for `iOS` and `Android` ?
I'd test it if I can.

[2018-11-26 09:16] kpp commented on #233
@is2ei Hello. The only one scenario is `cargo build --target ...` on the latest master. If you manage to build a static app and run it on mobiles that would be great. Any simple app would work like:

[code]

[2018-12-01 21:29] warner opened #293 "publish 0.2.0 to crates.io?"
Congrats on the 0.2.0 release! I'm looking forward to updating my packages to use the new easier-to-build crate. But it looks like 0.2.0 hasn't yet been published to crates.io yet.. any chance this could happen soon?

thanks,
 -Brian

[2018-12-01 21:39] dnaq commented on #293
It's published now.

[2018-12-01 21:39] #293 closed

[2018-12-01 21:43] warner commented on #293
thanks!

[2018-12-03 14:36] oherrala commented on #238
@kpp Hi!

I got my cross compilation environment working with sodiumoxide! Here's my `Dockerfile` for everyone else wondering how things should be set up.

[code]

and `cargo.config`:

[code]

Thanks!

[2018-12-05 15:41] kurnevsky opened #295 "Incorrect warning when SODIUM_SHARED is specified with SODIUM_USE_PKG_CONFIG"
There is a warning: https://github.com/sodiumoxide/sodiumoxide/blob/02d600c8e1c85c76cc6ef68ddfc56ec3dc6adae2/libsodium-sys/build.rs#L64-L66

But actually SODIUM_SHARED is used when SODIUM_USE_PKG_CONFIG is specified: https://github.com/sodiumoxide/sodiumoxide/blob/02d600c8e1c85c76cc6ef68ddfc56ec3dc6adae2/libsodium-sys/build.rs#L129

[2018-12-05 15:46] kurnevsky commented on #295
It seems `.statik(!shared)` there does nothing and can be removed. Am I right?

[2018-12-05 17:16] #295 closed

[2018-12-13 10:18] kpp opened #297 "Add ::init() into each test"
See https://github.com/tox-rs/tox/issues/279

From https://libsodium.gitbook.io/doc/internals :

[code]

We must call `::init()` in every single test.

Note: sodium_rust included `::init()` in every test.

[2018-12-14 12:37] kpp opened #298 "fatal error LNK1318: Unexpected PDB error"
[code]

This is a flickering error, see https://gitlab.com/zerho/skinny-llama/zetox/-/jobs/134665201

[2018-12-17 22:36] dvic commented on #201
Hi @nvesely @samscott89,

I took a stab at this in https://github.com/dvic/sodiumoxide/tree/secretstream.

I went with the key as parameter because this allows you to generate keys in whatever way you need (e.g., like mentioned in the libsodium docs, leveraging the key exchange API or using the password hashing API).

I'm not sure where the use of vectors can be avoided, please let me know if I'm

[2018-12-30 19:28] sribe-pearson opened #302 "generichash segfaults in actual use (OS X, 10.14)"
Both release/0.2.0 and master (c348a2c) give the same results:

1) `git clone` this repo and `cargo test` succeeds

2) but create a new project (`cargo new` without any options), and the code below segfaults in libsodium, in `crypto_generichash_blake2b__final`:

[code]

(same behavior if I actually call `update` with some data...)

The stack trace always has `crypto_generichash_blake2b__final+232`

[2019-01-02 14:36] raphaelrobert commented on #302
I can confirm the same problem (also on macOS 10.14).

[2019-01-04 18:42] kpp commented on #302
@sribe-pearson would you please test whether https://github.com/sodiumoxide/sodiumoxide/pull/303 fixed your issue or not?

[2019-01-06 09:11] dvic commented on #302
@sribe-pearson #304 has been merged now, you can try the `master` branch to see if your problem is solved now. I'm pretty sure it will fix your problem as I encountered the very same issue as you and it worked for me.

[2019-01-08 09:51] kurnevsky opened #305 "Update to libsodium 1.0.17"
Libsodium 1.0.17 is out: https://github.com/jedisct1/libsodium/releases/tag/1.0.17

[2019-01-08 10:12] Dylan-DPC commented on #305
Thanks. Are you ready to create a PR? you have to change the version in [this file](https://github.com/sodiumoxide/sodiumoxide/blob/c348a2c531faa993aa7384224951e8681eca72ba/libsodium-sys/build.rs#L25)

[2019-01-09 12:10] #305 closed

[2019-01-10 14:51] the-kenny commented on #85
Another protocol using this conversion is the "Secret Handshare Protocol" ([Paper](https://ssbc.github.io/docs/shs.pdf)) used by SecureScuttlebutt ([Protocol](https://ssbc.github.io/scuttlebutt-protocol-guide/)).

[2019-01-11 03:37] dominictarr commented on #85
most cryptography we use isn't _proven secure_, it's only _believed_ to be secure, given that lots of smart people have looked and they have not found problems.
there isn't any proof that [one way functions actually exist](https://en.wikipedia.org/wiki/One-way_function) but without that we don't have hash functions, etc.

[2019-01-12 14:15] #201 closed

[2019-01-13 19:42] 0xbe7a opened #307 "Build fails when building "dylib""
Hi, im trying to build a project with sodiumoxide as a dylib. Im using rustc stable with 1.30.0, however the build fails with `error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-Wl,--as-needed" "-Wl,-z,noexecstack" "-m64" "-L" "/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib" "/home/build/build_test/target/debug/deps/build_test.2ymloo3dl77295qv.rcgu.o" "-o" "/home/build/build_test/ta

[2019-01-13 22:05] #307 closed

[2019-01-13 22:06] 0xbe7a commented on #307
I'm sorry for this issue. Re-reading some discussions about it, it can be solved with the introduced SODIUM_DISABLE_PIE=1 environment variable. I used it before I made this issue, but without cargo clean it apparently does not change a thing (while I could see it recompiles sodiumoxide, so I'm confused).

Though this discussion is this relevant, it's solved.

Related references (hopefully making t

[2019-01-19 19:40] SecurityInsanity commented on #302
FWIW, we ran into a report of these segfaults on Mac-OS-X at https://github.com/instructure/paseto/issues/4 , and they were fixed by switching to master. (This segfault was also happening in our generic hash code).

[2019-01-19 22:10] dvic commented on #302
@SecurityInsanity thanks for reporting!

@Dylan-DPC maybe it's good to cut a new release that includes at least this fix? (#304)

[2019-01-21 04:11] necrognosis opened #308 "Write keys to file?"
Sorry for anything wrong on my part in advance, I'm newer to Rust and this is also my first issue on something.

I was wondering if there might be a way to write the generated secret keys to a file for future use. I normally work with docker and am looking for a way to share keys between instances of my program.

e.g. One user logs in with one server instance, but returns to another instance.

Aga

[2019-01-21 08:36] kpp commented on #308
Yes there is a way to do so, what exactly you are interested in?

[2019-01-21 12:36] kpp commented on #308
@necrognosis did it help?

[2019-01-21 19:46] kpcyrd commented on #308
The bytes of the signing key can be accessed in the same way:
[code]
Open https://docs.rs/sodiumoxide/0.2.0/sodiumoxide/crypto/sign/ed25519/struct.SecretKey.html and click on `[+] Show declaration`.

[2019-01-21 21:33] necrognosis commented on #308
Very strange, I still get an error when I try to write the file. I'm sorry for dragging this out so long, but here is the example code.
[code]

And this is the error I keep getting.

[code]

It's only with the `sodiumoxide::crypto::sign::gen_keypair()` that I have this issue. `box_::gen_keypair()` works fine. Am I simply missing something here?

[2019-01-21 22:01] kpcyrd commented on #308
Oh, you might need `&sk.0[..]` since some of these traits are only implemented until 32 in the rust stdlib.

[2019-01-24 19:44] SecurityInsanity commented on #302
Any chance cutting a release is being worked on?

[2019-01-25 06:56] kpp commented on #302
@SecurityInsanity is it fixed in master?

[2019-01-25 06:59] SecurityInsanity commented on #302
Using master fixed our use of generichash segfaulting on Mac OS X, yea

[2019-01-25 06:59] Dylan-DPC commented on #302
great.. will cut a new release soon then.

[2019-01-25 07:05] kpp commented on #302
I am working on https://github.com/sodiumoxide/sodiumoxide/pull/299

[2019-01-29 20:14] alexandermccormick opened #310 "Compilation Error With Shared Objects"
Sorry to be a bother, but for the life of me, I can not figure out this error. I've tried searching, but fail to find more information, or a new direction to search.

Whenever I try to compile something using sodiumoxide, I get this error:
[code]

I've used sodiumoxide before in projects with no problem. This kind of started out of the blue, and I'm not sure what caused it in the first place. Any

[2019-01-29 20:39] brycx commented on #310
I've tried something similar, though I don't remember if the error was exactly `final link failed: bad value`. Maybe `cargo clean` and then `cargo build`? That has worked for me before.

[2019-01-30 01:54] alexandermccormick commented on #310
I seem to have had the wrong variable set. It's not `RUST_SODIUM_DISABLE_PIE`, but simply `SODIUM_DISABLE_PIE`. Now things seem to be working correctly. Apologies.

[2019-01-30 01:54] #310 closed

[2019-02-14 21:01] dvic commented on #302
@kpp any progress on @299? @Dylan-DPC Otherwise I think it would be good to do a release with the segfault fix. What do you think?

[2019-02-14 21:54] kpp commented on #302
@dvic any help with https://github.com/sodiumoxide/sodiumoxide/pull/299#issuecomment-457477744 will be apriciated.

[2019-02-15 08:46] dvic commented on #302
@kpp I'm running Mac myself, but I'll see what I can do 👍

[2019-02-15 10:52] Dylan-DPC opened #313 "Add armv7-unknown-linux-musleablhf to the CI process"
Thanks. This is a good start. But we need to add the architecture to the CI process, so we know that the crate works on it and doesn't break in future.

_Originally posted by @Dylan-DPC in https://github.com/sodiumoxide/sodiumoxide/pull/294#issuecomment-443796338_

[2019-02-17 21:45] #238 closed

[2019-02-17 21:57] sribe-pearson commented on #302
Sorry this took so long; side project and I couldn't get back to it for a while. #304 does fix it for me, and I also checked that the update to libsodium 1.0.17 (cfcd80b) does not re-introduce it.

[2019-02-17 22:58] kpp commented on #302
@Dylan-DPC lets release?

[2019-02-25 20:29] SecurityInsanity commented on #302
Anything I can do to help push this release along? Looks like everything's in order?

[2019-02-25 22:21] Dylan-DPC commented on #302
Sorry was busy. @SecurityInsanity if you want you prepare a new PR which bumps the version and does anything else if required. If you can't, i'll work on it tomorrow. Thanks

[2019-02-27 03:48] SecurityInsanity commented on #302
I created #316 with a version bump. If anything else needs to be done with my pr, happy to fix it up so we can release.

[2019-02-27 18:33] JorisBolsens commented on #244
I have clang-9.0 installed on debian stretch and am still running into this issue:

[code]

[code]

[2019-02-27 18:47] kpp commented on #244
@JorisBolsens please try to update rustc and try to build sodiumoxide from master

[2019-02-27 18:48] Dylan-DPC commented on #244
i think it is better we take this to a new issue (even though it is sort of a duplicate)

[2019-02-27 18:51] JorisBolsens commented on #244
@kpp rustc is latest version
`rustc 1.32.0 (9fda7c223 2019-01-16)`

sodium is being compiled as a dependency in another library, not sure how i would update it to use master

@Dylan-DPC I was hoping I was just doing something wrong, I can definitely make a new issue if thats not the case.

[2019-02-27 18:52] Dylan-DPC commented on #244
even if you are doing something wrong, you can open an issue, nothing wrong with that.

[2019-02-27 19:04] JorisBolsens opened #319 "Build failing on debain 9 with clang-9"
I have clang-9.0 installed on debian stretch and am running into this issue:

[code]

[code]

sodiumoxide is being installed as a dependency from serenity-rs with version '0.1'
[code]

I have just installed rust-lang, so I have the latest version of all the tools, I also have libsodium-dev installed from the debian repo.

possibly related to: #244

[2019-02-27 19:20] kpp commented on #319
`rustc 1.32.0 (9fda7c223 2019-01-16)`
sodium is being compiled as a dependency in another library, not sure how i would update it to use master.

Please try to build it on master:

[code]

Also give me the link to that project where there is sodiumoxide is dependency in another library or to that library.

[2019-02-27 19:24] Dylan-DPC commented on #319
Thanks for reporting. Sadly since serenity uses an outdated (0.1) version of the crate, we can't do much since we no longer support 0.1 and can't offer a patch release (in case it is a bug).

You can look at [overriding dependencies](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies) and try and see if you can patch it to use 0.2 (you might need other c

[2019-02-27 22:36] JorisBolsens commented on #319
@kpp
Building master like that works fine. The project I am using is https://github.com/serenity-rs/serenity

@Dylan-DPC
Seems like the newest version of sodiumoxide is not compatible as I get some errors:
[code]

I guess i'll just have to move to a different library

[2019-02-28 00:20] #319 closed

[2019-03-01 16:33] SecurityInsanity commented on #302
Any update with the release, now that version bump/changelog has been merged?

[2019-03-01 18:24] kpp commented on #302
https://crates.io/crates/sodiumoxide/0.2.1 just released

[2019-03-14 11:42] kpp commented on #302
We have released a fix. Let us know if it does not work for you

[2019-03-14 11:42] #302 closed

[2019-03-14 11:43] kpp commented on #242
We have released a new version of sodiumoxide. See https://github.com/sodiumoxide/sodiumoxide#cross-compiling-for-armv7-unknown-linux-musleabihf-via-docker for crosscompilation

[2019-03-14 11:43] #242 closed

[2019-03-15 12:50] mbelop opened #321 "Expose `AsRef<[u8]>` for all newtypes"
Hi,

According to the [libsodium documentation](https://docs.rs/sodiumoxide/0.2.1/sodiumoxide/crypto/kx/index.html#usage):

Therefore at least the AsRef trait must be implemented for the SessionKey type to be able to convert it to the `secretbox::Key` (or `secretstream::Key` in my use case). Otherwise it looks like once SessionKey is generated, there's nothing that can be done with it. Please corr

[2019-03-15 13:29] dnaq commented on #321
I believe that the long term solution would be to implement AsRef<[u8]> for all types that wrap byte arrays. The short term solution for you would probably be to use the index implementation to get a slice containing the data you are interested in, e.g. &sessionkey[..]

[2019-03-15 13:33] mbelop commented on #321
Thanks for the tip regarding the Index trait, I was going the long way of `bincode::serialize` and `bincode::deserialize` into the other key type.

[2019-03-30 11:00] #321 closed

[2019-04-05 01:54] SuperiorJT opened #326 "Failed hash check"
I received this error when building on mingw64. I had to enable SODIUM_USE_PKG_CONFIG in order to successfully build. I checked the releases at https://download.libsodium.org/libsodium/releases/ and it looks like 1.0.17 was modified on 03-Apr-2019 so I think the checksum just needs to be updated. I don't have any experience in hash checking, so I might be wrong.

[2019-04-05 17:07] kpp commented on #326
@libp2p sorry guys your build is broken due to https://github.com/jedisct1/libsodium/issues/813. We will fix it ASAP. Would you please tell your preferences about releasing binaries into that issue?

[2019-04-08 20:59] NamsooCho commented on #298
Can't open above link.

[2019-04-14 22:42] Erk- commented on #326
Are you planning to release a minor release with this fixed?

[2019-04-15 13:11] kpp commented on #326
We are working on it

[2019-04-18 21:34] pcrockett opened #328 "Allow building from source without downloading"
This is prompted by #326, but I think it's a legitimate feature idea even if #326 was not getting in my way.

I would like to avoid downloading libsodium from scratch when building libsodium-sys. Of course this is possible using the `SODIUM_LIB_DIR` environment variable, and it's a relatively easy scenario for Windows because a pre-compiled lib is actually provided by the libsodium project.

Howev

[2019-04-19 08:01] pcrockett commented on #328
Ah. Should have checked the list of pending pull requests. #300 would address this.

[2019-04-20 12:16] Dylan-DPC commented on #328
Closing this as duplicate. Thanks

[2019-04-20 12:22] #328 closed

[2019-04-22 12:32] kurnevsky commented on #326
And again... https://download.libsodium.org/libsodium/releases/

[2019-04-22 16:11] kpp commented on #326
Oh no...

[2019-04-23 13:24] kurnevsky commented on #326
Hm... Old libraries are back.

[2019-04-24 09:18] mbelop commented on #326
Why don't you bundle it up? Would have solved a whole bunch of issues and remove the dependency on http_req (which I have to remove manually in my branch).

[2019-04-24 12:07] kpp commented on #326
How?

[2019-04-24 12:49] mbelop commented on #326
How what? How to bundle it?

[2019-04-24 13:51] kpp commented on #326
You can’t do that for all binaries because the size of a crate should be not bigger than 20Mb

[2019-04-24 13:53] dnaq commented on #326
Couldn’t we bundle the source?

On Wed, 24 Apr 2019 at 15:51, Roman Proskuryakov <notifications@github.com>
wrote:

[2019-04-24 14:11] mbelop commented on #326
I only meant to propose bundling the source code.

[2019-04-24 14:39] kpp commented on #326
Yeah but how would you build it?

[2019-04-24 14:41] mbelop commented on #326
The same way it's built right now. You can take a look at how I did it: https://github.com/mbelop/sodiumoxide/commit/3e80b0d8972f7f83f836b82914aaea7409156738
But as I've said, I wanted to have only minimal changes to the existing build infrastructure.

[2019-04-24 15:11] kpp commented on #326
Take a look at https://github.com/sodiumoxide/sodiumoxide/pull/300

I wanted to build the lib from sources but I failed to do this on windows

[2019-04-27 10:12] sopium commented on #326
Maybe we can.

For MSVC, we only need `x64\Release\v140\static\libsodium.lib` and `Win32\Release\v140\static\libsodium.lib`. The two files are 973KiB compressed.

The mingw tarball is 985KiB compressed. If we only include `.a` files it's even smaller.

So that's 1.91MiB in total.

[2019-04-27 10:21] kpp commented on #326
Huh. Sounds like a solution.

[2019-04-27 13:32] kpp commented on #326
@SuperiorJT would you please check https://github.com/sodiumoxide/sodiumoxide/tree/bundled_libsodium branch ?

[2019-04-27 14:14] #298 closed

[2019-04-27 14:14] #297 closed

[2019-04-30 08:17] kpp commented on #326
@sodiumoxide/owners can anyone check it on mingw64?

[2019-04-30 11:29] Dylan-DPC commented on #326
@kpp you could add it to the CI though it will slow down the builds but that's fine

[2019-04-30 11:36] kpp commented on #326
I will try

[2019-04-30 11:56] dnaq commented on #326
I’ve heard some talk about azure pipes being a lot faster than Travis.
Might be a reason to switch.

On Tue, 30 Apr 2019 at 13:36, Roman Proskuryakov <notifications@github.com>
wrote:

[2019-05-06 02:51] sainthkh opened #335 "Hash doesn't match on Windows."
On Windows, when libsodium-sys downloads a new libsodium lib from [the server](https://download.libsodium.org/libsodium/releases/), hash value changes every time.

Error message below:

[code]

Currently, only workaround is to use [vcpkg](https://github.com/Microsoft/vcpkg).

For those who came here for workaround in PowerShell, do these:

1. Install [vcpkg](https://github.com/Microsoft/vcpkg).
2.

[2019-05-06 02:57] sainthkh commented on #335
It seems that it's a duplicate of #326.

I think I should close this issue and add above to #326.

[2019-05-06 02:57] #335 closed

[2019-05-06 03:01] sainthkh commented on #326
I found the same issue compiling in native environment.

But the difference is that the result of hash value changes every time I compile it. (I'm guessing that the header values are included when calculating hash. Or I might be terribly wrong.)

Here's the error message you can see:

[code]

Currently, only workaround is to use [vcpkg](https://github.com/Microsoft/vcpkg).

For those who came here

[2019-05-06 08:32] kpp commented on #326
@sainthkh you can try `master` branch

[2019-05-12 11:28] kpp opened #338 "UB in libsodium-sys/tests/crypto/crypto_generichash"
Run:

[code]

Which gives you a warning:

[code]

View in a Travis build: https://travis-ci.org/sodiumoxide/sodiumoxide/jobs/531384794#L502

Fixing it as suggested:

[code]

Gives us:

[code]

Which is definitely an undefined behavior in  `mem::transmute...`.

[2019-05-14 16:00] #236 closed

[2019-05-21 10:26] Keirua opened #340 "Unable to build a HashedPassword using from_slice out of a valid hash"
Hi,
I'm following the doc on https://docs.rs/sodiumoxide/0.2.2/sodiumoxide/crypto/pwhash/index.html regarding how to perform hash verification: hashing a password in order to feed it to pwhash_verify, using a hash stored in a file for comparison.

In the following minimalistic example (sodiumoxide = "0.2.1"), reloading a hash from a file using HashPassword::from_slice returns None, where from what

[2019-05-21 11:36] kpp commented on #340
Please ensure you got the same length.

[2019-05-21 12:08] Keirua commented on #340
ok it makes sense, I was making a scryptsalsa208sha256 hash and trying to convert it back into an argon2i13 hash, so it couldn't work. Ha, automatic imports…

"the length of the object" could be clarified (I'll make a PR) into explaining it's about the expected size of the hash, right now it's not clear what length we are talking about (it was not to me, until I read the code).

[2019-05-21 12:08] #340 closed

[2019-05-27 23:14] SuperiorJT commented on #326
0.2.2 is working for me

[2019-05-27 23:18] kpp commented on #326
Resolved in 0.2.2

[2019-05-27 23:18] #326 closed

[2019-06-05 13:16] KizzyCode opened #341 "Fails to build on macOS 10.15 Beta (19A471t)"
## Expected:
The crate builds

## What happens:
The crate fails to build with the following output:
[code]

## Steps to reproduce:
 0. Clone the repo
 1. Run `cargo build` or `cargo build --release`

## Workaround:
Use an installed libsodium version by setting `SODIUM_USE_PKG_CONFIG=1`

[2019-06-05 15:29] kpp commented on #341
@KizzyCode You got no C compiler installed:

[code]

Please install gcc or clang and try again

[2019-06-05 15:36] KizzyCode commented on #341
`clang` is installed; `which clang` outputs `/usr/bin/clang`

To be clear: I've no problem building `libsodium` from source using `./configure`, `make` and it passes all tests pass if I run `make check`...

[2019-06-05 15:58] kpp commented on #341
Try https://github.com/sodiumoxide/sodiumoxide#using-precompiled-library

[2019-06-05 16:06] KizzyCode commented on #341
Yeah; this is what my workaround does (except that it uses pkg-config so that I don't have to specify the location manually).

I just wanted to open that issue so that it can be resolved before Catalina comes out finally.

[2019-06-05 16:35] kpp commented on #341
Thanks for the issue. We will try to solve it

[2019-06-09 22:30] agrinman commented on #341
Confirming this is an issue, I'm getting the same error as well

[2019-06-10 06:52] kpp commented on #341
@agrinman can you create a user on your mac and give me an ssh access?

[2019-06-10 07:36] nvesely commented on #341
Please ignore the request for SSH access.

Can you confirm libsodium is being downloaded and unarchived correctly? The error seems to be showing the that `configure` file within libsodium archive is not where our Rust build script expects it to be. Can you clone a fresh copy of the repository and show the output of `find . -iname '*configure*'` after an (ostensibly failed) build? Running build wit

[2019-06-10 08:04] kpp commented on #341
Why?

We don't download libsodium anymore.

Still you can try to debug it via github =)

[2019-06-10 16:13] agrinman commented on #341
@nvesely I can confirm that configure is there and the download and unarchiving was successful. The strange part is that the Command still can’t seem to run configure. I added an ls command that runs ‘ls configure’ on the same source dir and it is successful. I’m thinking that it might be related to macos’s Security features around accessing files in the users docs directory or something to that e

[2019-06-10 18:36] KizzyCode commented on #341
Well, _in theory_ the security features shouldn't be a problem since I granted `Terminal.app` full disk access and the developer permission to run unsigned apps (which seems to work until now).
But since this is the first beta, chances are good that this is really due to a macOS bug which will be resolved in the next versions...
`./configure` is marked as executable?

[2019-06-10 23:47] jedisct1 commented on #341
In order to execute a command with a relative path, `.` now needs to be in the `PATH` environment variable.

[2019-06-11 00:15] agrinman commented on #341
Not sure what's going on here:

[code]

Where there's a simple shell script located at `/test/script`.

In case A:
[code]

In case B:
[code]

When the test script is A, it succeeds as expected. When the shebang is included, as in B, it fails with the following error:

[code]

If I change `./script` to `script`, case B doesn't panic but spits out a message about zsh being the new default shell:

[c

[2019-06-11 00:19] KizzyCode commented on #341
Additionally if you call `./configure` with it's absolute path instead of it's relative path, it works too 😳
To me this looks really weird too and I'd not be surprised if this is a macOS bug...

[2019-06-11 10:29] KizzyCode commented on #341
@jedisct1 I was unable to modify the path variable to make the relative path working – how did you do it?

[2019-06-11 10:51] jedisct1 commented on #341
@KizzyCode

[code]

I think this behavior is intentional since macOS now includes `.` in the default `PATH`.

[2019-06-11 12:17] KizzyCode commented on #341
@jedisct1

It does? On my fresh install, all `PATH`-variables contain the usual dirs but not `.`

[2019-06-18 14:36] raphaelrobert opened #347 "[Feature request] Add WebAssembly as a supported target"
Last year @alexchrichton made a [great PoC](https://github.com/alexcrichton/wasm-sodium) for using sodiumoxide with WebAssembly.

Since sodiumoxide version >= 0.2 now pulls in and compiles libsodium directly, things are a little more complicated.

It would be great if we could use Rust and libsodium in the browser and sodiumoxide takes care of the build chain!

[2019-06-22 10:36] Mendess2526 opened #348 "Fails to build on raspberry PI"
The library fails to build on a raspberry PI running arch linux.

Some commands that might be usefull
`uname -a`
[code]
`rustup show `
[code]
## Build error
[code]

## config.log
https://gist.github.com/Mendess2526/c58311412ae6dd503ff3ce49f0ce10a0

[2019-06-22 10:52] #348 closed

[2019-07-09 09:49] dnaq opened #349 "replace uses of `std::mem::uninitialized` with `MaybeUninit`"
`std::mem::uninitalized` has been deprecated in the latest rust compiler (for good reasons). We should replace all uses of it with `MaybeUninit` or with explicit initialization before the next release.

[2019-07-15 19:42] kpp commented on #349
[code]

[2019-07-21 02:51] jean-airoldie opened #352 "Bump libsodium-sys"
So that crates can use the metadata added in #344.

[2019-07-23 06:47] tmccombs opened #353 "Allow reusing Vec for secretstream"
The current secretstream API requires allocating a new `Vec` for every call to `push` or `pull`. Ideally, there would be a way to use an existing `Vec` (or maybe even just a `&mut byte[]`) so that a client that repeatedly calls push or pull can reuse the same allocated memory for multiple calls.

[2019-07-23 13:48] stv0g commented on #341
See: https://doc.rust-lang.org/std/process/struct.Command.html#platform-specific-behavior

It mentions that we should not rely on `Command::current_dir()` while using relative paths for the executable. My PR uses `fs::canonicalize()` as proposed by the docs.

[2019-07-23 13:49] stv0g commented on #341
For some reason the compilation still fails because of [some bug in libsodium](https://github.com/jedisct1/libsodium/issues/848)

[2019-07-23 14:31] Dylan-DPC commented on #347
@raphaelrobert hey thanks for the request. Are you available to implement it? We are ready to mentor you. Thanks

[2019-07-23 14:45] kpp commented on #347
I agree.

Actually no. For win we unpack arhives and link with the precompiled version. For all other systems we try to build libsodium from scratch. However we can embedd .wasm binary into the library. I wonder how to link it...

[2019-07-23 15:05] kpp commented on #352
We will do this soon. There is a fix in #356 which requires rustc 1.36. Are you ok with it?

[2019-07-23 19:39] raphaelrobert commented on #347
@Dylan-DPC Unfortunately I lack the time and the toolchain expertise to do it correctly right now, otherwise I'd jump on it!

I think this is a promising idea! Maybe the [PoC](https://github.com/alexcrichton/wasm-sodium) can give some inspiration?

[2019-07-23 19:40] kpp commented on #347
Maybe

[2019-07-23 20:15] jean-airoldie commented on #352
Yep

[2019-07-25 13:11] #349 closed

[2019-07-25 17:21] #338 closed

[2019-07-26 19:00] stouset opened #359 "unify environment variables with those used in pkg-config"
Instead of `SODIUM_SHARED`, why not unify the environment variables with those as-used by  `pkg-config`? Check for `SODIUM_DYNAMIC` or `SODIUM_STATIC`.

Also, why not default to using `pkg-config` and fall back to explicit handling if it's not found there (or if environment disabling it is provided)? I'm including `libsodium-sys` as part of the tests for a library I'm working on, and rebuilding li

[2019-08-18 11:33] ryankurte opened #363 "Support for bare-metal compilation"
hi hi

at the moment compilation depends on libc (and std as in #197) which is not defined for all architectures.

i've had a go at [moving from libc to cty](https://github.com/sodiumoxide/sodiumoxide/compare/master...ryankurte:fix/arm-none-eabi?expand=1) which solves part of the problem (though is v roughly implemented), though something appears to be something wrong with PIC/PIE outputting reloc

[2019-08-23 08:04] #353 closed

[2019-08-29 12:52] Ben-Lichtman opened #364 "Error building on mac 10.14.6"
I get a large error message and fail when trying to build on mac 10.14.6

It appears to by trying to link against linux *.a libraries instead of the mac *.dylib

I have attached the run output here:
[output.txt](https://github.com/sodiumoxide/sodiumoxide/files/3555594/output.txt)

[2019-08-29 12:54] Ben-Lichtman commented on #364
Workaround is to use pkg_config with SODIUM_USE_PKG_CONFIG=1 or point libsodium at my library, but would prefer the normal build to work

[2019-08-29 13:07] kpp commented on #364
I think .a files are static libs even in Mac. There should be an issue somewhere else.

[2019-08-29 13:13] kpp commented on #364
From output.txt:

[2019-08-29 13:22] kpp commented on #364
https://github.com/sodiumoxide/sodiumoxide/blob/70bd89401c351f3853985be02033570a29e0766c/libsodium-sys/build.rs#L164

@jedisct1 should we check for target `x86_64-apple-darwin` and set vars from https://github.com/jedisct1/libsodium/blob/master/dist-build/osx.sh ?

[2019-08-29 14:33] jedisct1 commented on #364
That shouldn't be necessary. That script is just here to build redistributable precompiled libraries that work on old versions of macOS.

In all other cases, on macOS like on other Unixish platforms `./configure --prefix=... && make check && make install` should be enough.

[2019-08-30 07:49] GallagherCommaJack opened #365 "Add `kdf` functionality"
Libsodium has a module for `kdf` separately from `pwhash` using `blake2b`. For completeness it probably makes sense to bind to it. I've already forked to start work in including it, you can find the commit [here](https://github.com/kalix-systems/sodiumoxide/commit/1449c40ec5eaf3edba3b4521f5ae0b502baa4712).

[2019-08-30 08:05] kpp commented on #365
See https://github.com/sodiumoxide/sodiumoxide/pull/351

[2019-08-30 09:04] GallagherCommaJack opened #366 "make `prelude` dependency optional"
Would this even make sense? It would definitely be nice to be able to use this from systems that for some reason or another don't even have `alloc`, but I'm not sure whether or not `libsodium` relies on the same functionality as `alloc`.

From a quick glance it wouldn't be too hard to get `sodiumoxide` out of the way of that dream though - I've started going through marking things with feature fla

[2019-08-30 09:06] GallagherCommaJack commented on #366
All work I do on this front is going [here](https://github.com/kalix-systems/sodiumoxide/tree/no_std).

[2019-08-30 09:07] kpp commented on #366
Great! Also we got this issue: https://github.com/sodiumoxide/sodiumoxide/issues/197

[2019-08-31 06:10] GallagherCommaJack commented on #366
As of [this commit](https://github.com/kalix-systems/sodiumoxide/commit/226a3af782688c1ace4bee00e43e73fb9d0f4e5a) all tests are passing again and all libtests are passing. There are a few things that I want to fix before making this a pull request though:

1) The doctests fail without the `alloc` feature, since they rely on functions that allocate a new vector. The right thing to do is probably to

[2019-08-31 10:59] jean-airoldie commented on #352
Ping

[2019-08-31 13:16] kpp commented on #352
Can we cut a new release?

[2019-08-31 13:24] jean-airoldie commented on #352
I don't understand what that means. I don't mind if the libsodium version gets bumped also, if that's what your referring to.

[2019-09-01 03:00] kpp commented on #366
Please open a new PR

[2019-09-01 18:19] kpp commented on #352
https://crates.io/crates/libsodium-sys

[2019-09-01 18:19] #352 closed

[2019-09-01 22:38] jean-airoldie opened #370 "Header `version.h` missing for windows builds"
The [libsodium header](https://github.com/jedisct1/libsodium/blob/master/src/libsodium/include/sodium.h) links to `sodium/version.h` which only exists if the library was compiled by `./configure` since it requires template substitution of [version.h.in](https://github.com/jedisct1/libsodium/blob/master/src/libsodium/include/sodium/version.h.in). This means that one cannot build on windows and link

[2019-09-01 22:44] jean-airoldie commented on #370
Here is an example for this file for `1.0.18`:
[code]

[2019-09-14 21:42] z0mbie42 opened #374 "Why AES GCM is missing?"
Hi,

It appears that the only AEAD available primitive is `ChaCha20-Poly1305`, but libsodium have also the more mainstream `AES-GCM-256` (https://libsodium.gitbook.io/doc/secret-key_cryptography/aead/aes-256-gcm).

Why it is missing in this binding?

[2019-09-15 16:18] kpcyrd commented on #374
I assume it's either because the GCM has certain limitations that make it much more difficult to get right for sodiumoxide users that chacha20-poly1305 doesn't have, or simply because nobody bothered implementing the bindings yet.

[2019-09-16 20:17] z0mbie42 commented on #374
Thank you for the response!

[2019-09-16 20:17] #374 closed

[2019-09-17 17:29] kpp commented on #347
@jedisct1 would you please help us to embed libsodium.wasm into sodiumoxide?

[2019-09-18 22:47] kpp commented on #359
Legacy =(

[2019-09-18 22:49] kpp commented on #370
That's not an issue at all. This tarball is provided by jedisct1. The issue is much much deeper than you think.

[2019-09-18 23:15] kpp opened #377 "libsodium compilation. We do it wrong."
It all started when I tried to crosscompile sodiumoxide to wasm32-wasi.

[code]

Did not help at all. I kept receiving error:

[code]

The issue is: build.rs gets compiled on host. So our target_ predicates in build.rs are equal to host target_ predicates.
In order to make everything work perfectly we have to:

[code]

Does it make sense to you?

@jean-airoldie you can fix this algo to provide ver

[2019-09-18 23:26] jedisct1 commented on #370
It's in `builds/msvc/version.h`.

[2019-09-18 23:45] jean-airoldie commented on #377
Seems like a `cc` build would be easier to maintain at this point.

[2019-09-18 23:51] kpp commented on #377
@jean-airoldie If only we could compile libsodium with crate cc...

[code]

build.rs:

[code]

foo.c

[code]
src/main.rs
[code]

.cargo/config

[code]

And it works perfectly for the host:

[code]

and for wasm32-wasi:

[code]

[2019-09-19 03:11] kpp commented on #377
@jedisct1

something like this:

[code]

Is it possible?

[2019-09-19 03:48] dnaq commented on #359
I think this is a good idea. It’s a breaking change though.

On Thu, 19 Sep 2019 at 00:47, Roman Proskuryakov <notifications@github.com>
wrote:

[2019-09-19 03:52] dnaq commented on #377
It would be great if we could use cc, the main issue is creating config.h
in the same way that autoconf does.

On Thu, 19 Sep 2019 at 05:11, Roman Proskuryakov <notifications@github.com>
wrote:

[2019-09-19 16:34] kpp commented on #377
I managed to build crypto_pwhash/argon2/argon2-fill-block-avx512f.c with -mavx512f.

[code]

Looks ugly but it works. How many special args are in your ./configure?

[2019-09-19 16:39] jean-airoldie commented on #377
Would you consider using CMake? I see some people wrote some cmake files https://github.com/myd7349/libsodium.cmake. Maybe that would be easier than writing a cc build from scratch?

[2019-09-19 16:55] kpp commented on #377
I can help @jedisct1 writing a cmake script if he will accept it in his repo

[2019-09-19 17:07] jedisct1 commented on #377
One build system is enough. The current one does everything we need, including cross-compilation.

[2019-09-19 18:22] kpp commented on #377
However ./configure is not crossplatform ...

[2019-09-19 18:24] jedisct1 commented on #377
Windows is the only exception, but we have MSVC solutions for it.

[2019-09-19 19:01] stouset commented on #359
Waiting for some guidance from the discussion in #377 but I'm happy to update this PR withh whatever shakes out of that.

[2019-10-21 17:30] adityapk00 opened #386 "Cross compilation to x86_64-pc-windows-gnu fails with "undefined reference to __stack_chk_fail""
The final binary fails to link with the following error:
[code]

Here's my docker file:
[code]

Note that the building of the crates `sodiumoxide` and `libsodium-sys` succeeds, but the final binary linking step fails.

[2019-10-21 18:49] kpp commented on #386
Try to use https://github.com/sodiumoxide/sodiumoxide#extended-usage and precompiled libs from https://download.libsodium.org/libsodium/releases/

[2019-10-21 19:17] adityapk00 commented on #386
Thanks for the tip! I ended up using the precompiled mingw library and used `SODIUM_LIB_DIR` which worked great.

Maybe add this to the docs in the `README.md`? Shall I make a PR?

[2019-10-21 19:56] kpp commented on #386
There is already such a section in the readme: https://github.com/sodiumoxide/sodiumoxide#using-precompiled-library

[2019-10-21 19:56] #386 closed

[2019-10-21 20:06] adityapk00 commented on #386
Thanks! I did read through the README before filing this bug, and it wasn't clear that cross compilation for mingw is currently not working, and that we should be using a pre-compiled lib. Google wasn't helpful either. Especially because of this sentence at the top: `... it is highly recommended to use the default way with the pinned version ...`

Maybe add a sentence like "For x86_64-pc-windows-g

[2019-10-21 20:28] kpp commented on #386
It's definitely a bug. We will fix it.

[2019-11-03 21:19] eliaslevy commented on #341
FWIW, this issue appears fixed in Xcode 11.2 and the crate builds successfully with it. Note that if you had installed the command line tools, using sudo xcode-select -s /Applications/Xcode.app after updating Xcode is insufficient. You must remove the command line tools (sudo rm -rf /Library/Developer/CommandLineTools) or the build will still fail.

[2019-11-03 21:27] kpp commented on #341
Resolved

[2019-11-03 21:27] #341 closed

[2019-11-17 22:11] dzervas opened #389 "Can't decrypt with secretstream using kx session keys"
Hey, I've been trying to create a `secretstream` using keys exchanged using `kx`. I've written some code around it, so you better check it out here: https://github.com/dzervas/mage-rs/blob/03b7b89f640f83430da0cade13302d49ed2a1b8d/src/stream.rs#L214-L220

I found the public keys for the used seeds manually, so they should be fine. I get `Err(())` during `pull`

[2019-11-19 21:29] adamreichold opened #392 "Alternatives to build dependency on tar and libflate"
For me, a clean build `libsodium-sys` build time is currently dominated by building `tar` and `libflate` and their dependencies instead of build libsodium itself. These crates are used to unpack the source archive that is shipped with this crate when libsodium is built from source (the default).

Personally, I would be glad if these two build dependencies could be avoided and see three possible ap

[2019-11-20 21:41] dzervas commented on #389
Uuugh... For anyone having the same problem:
I initiated 2 sides of secretstream: Server and client.
BUT I initialized the `pull` stream of both ends with the header returned from their own `init_push`. So client `init_pull` had client header and server `init_pull` had server header. The `header` is a nonce and has to be exchanged across the two parties... (client `pull` with server `header` and v

[2019-11-20 21:41] #389 closed

[2019-11-22 14:30] #91 closed

[2019-11-30 12:22] aufziehvogel opened #399 "Sodiumoxide requires dynamically linked glibc: version `GLIBC_2.25' not found on remote"
Hello,

according to my understanding current versions of sodiumoxide should automatically build a static binary with all dependencies included (since https://github.com/sodiumoxide/sodiumoxide/pull/281). However, with the following minimal example I cannot execute my locally compiled binary on my remote server.

**Cargo.toml**
[code]

**src/main.rs**
[code]

I compiled with:

[code]

Locally it r

[2019-11-30 12:39] aufziehvogel commented on #399
Hm, sorry I sent the issue to quickly... I think it hasn't worked before. I think before I [built with MUSL](https://doc.rust-lang.org/1.9.0/book/advanced-linking.html) when I copied to my server.

[2019-11-30 12:40] #399 closed

[2019-11-30 12:40] kpp commented on #399
Do `ldd ./target/release/foo` locally; `ldd ./foo` and `dpkg -S libc.so` on the server and show me the output. Looks like libc is outdated on the server.

[2019-11-30 12:42] aufziehvogel commented on #399
Yes it is. It's a Debian system :)

I was just confused and didn't remember that in order to have libc statically compiled in Rust you need musl.

Sorry for that.

Just for the sake of completion, my ldd output:

[code]

[2019-11-30 12:44] kpp commented on #399
[code]

on the server and try to run `./foo` again

[2019-11-30 12:47] aufziehvogel commented on #399
`libc6 is already the newest version (2.24-11+deb9u4)`

As far as I remember that's just a version difference between my local system and server system.

Don't worry about it. If I remember correctly my final decision about the libc was: "Ok, I tested it with MUSL and it would work. But since it's easier I will just compile with the server when needed". So that's where my confusion came from, beca

[2019-11-30 12:49] aufziehvogel commented on #399
In the meantime I tested it without sodiumoxide and the same problem applies for git2. This just happens (as far as I see) whenever any package uses libc or similar as dependency.

[2019-11-30 12:51] kpp commented on #399
Yes. Also try to upgrade OS on the server. seems like you have 14.04?

[2019-12-04 18:23] #392 closed

[2019-12-06 23:00] kpp commented on #377
@adamreichold  you can try this one

[2019-12-07 02:21] adamreichold commented on #377
I have read the discussions and the existing pull request and came to the conclusion that reproducing the autotools-based build system using `cc` is probably too much ongoing maintenance work for too little gain. Hence, I would aim at fixing the cross-compilation issues by avoiding any dispatch on `#[cfg!(target_* = ...)]` basing everything on the environment variables instead? (I _do_ think the `

[2019-12-07 08:29] kpp commented on #377
I don't think we should try `cc` in this issue. We need to fix all these `#[cfg!(target_* = ...)]` which we use in a wrong way.

[2020-01-08 14:39] adria0 commented on #85
@dnaq, sorry for insist to this already-closed feature request, but there's any way that this function will be available eventually? We are implementing the secure scuttlebut protocol in https://github.com/Kuska-ssb/kuska-handshake and we just need this key conversion.

What about having a new crate feature to allow this extra functionality?

[2020-01-09 07:35] hubbabubbagump opened #410 "Error building libsodium-sys"
When I try importing sodiumoxide the build crashes during `make check -j8`.

According to the test suite, the failing tests are:
[code]

Not too sure what's going on here, but I believe the command is seg faulting due to the errors:
[code]

Any help would be appreciated!

Output file for reference:
[output.txt](https://github.com/sodiumoxide/sodiumoxide/files/4039185/output.2.txt)

[2020-01-09 11:37] kpp commented on #410
Would you please address this issue to https://github.com/jedisct1/libsodium/?

[2020-01-12 09:24] hubbabubbagump commented on #410
Solved the issue.

The origin of this error was due to OSX Catalina and XCode 11. The good news is that this issue was fixed in XCode 11.2. To fix this, update to XCode 11.2+ and run the commands found [here](https://github.com/jedisct1/libsodium/issues/848#issuecomment-549163810):
[code]

[2020-01-12 09:24] #410 closed

[2020-01-13 08:29] Karrq commented on #347
Any updates on this?

I saw @kpp started working on adding support to `wasm-wasi`, what about `wasm-unknown` ?

[2020-01-13 14:48] kpp commented on #347
I don't know how to compile libsodium to wasm-unknown. Also some features will not work as expected on wasm, because several syscalls are missing (mprotect).

[2020-01-14 16:47] raphaelrobert commented on #347
`wasm-wasi` has the nice advantage of having a standard library that `wasm-unknown` doesn't have. emscripten solves that problem (and I believe libsodium.js uses that), but just using clang is not enough because of all the unresolved dependencies.
For crypto libraries like libsodium just having a subset of libc is enough (as you can see in the PoC by @alexchrichton). In particular, functions in `s

[2020-01-17 08:00] gdesmott opened #411 "Confusing SODIUM_USE_PKG_CONFIG behavior on msvf"
`SODIUM_USE_PKG_CONFIG` [secretly uses](https://github.com/sodiumoxide/sodiumoxide/blob/546e8f21faf51931ebc99000210e06125011486d/libsodium-sys/build.rs#L94) `vcpkg` if the MSVC toolchain is selected which is pretty counter intuitive looking at the name of this variable.

cc @sdroege

[2020-01-17 08:50] adamreichold commented on #411
cc #406

[2020-01-17 10:27] kpp commented on #411
See https://github.com/sodiumoxide/sodiumoxide#extended-usage, it is a documented behavior.

[2020-01-17 10:52] sdroege commented on #411
That it's documented doesn't make it right ;) The way how it is right now it's not possible to use pkg-config on Windows, which can be a bit problematic.

[2020-01-17 17:30] kpcyrd commented on #411
`SODIUM_USE_PKG_CONFIG` was introduced to allow dynamic linking using pkg-config. Before that sodiumoxide would either compile a vendored version of libsodium or you had to use `SODIUM_SHARED` which expects you to configure the path manually with `SODIUM_LIB_DIR`.

Windows support was added eventually. This seems to be a minor naming issue, feel free to propose a better one, although we need to ke

[2020-02-04 10:41] HoOngEe opened #412 "Provide point conversion functions in kx"
To utilize key exchange algorithm `X25519` for the keys generated from `Ed25519`, libsodium provides two functions `int crypto_sign_ed25519_pk_to_curve25519` and `int crypto_sign_ed25519_sk_to_curve25519`.
However, these functions are not exposed in `sodiumoxide`. I think it's good to place the corresponding rust binding functions in `kx` module.

[2020-02-06 20:09] kpp commented on #412
https://github.com/sodiumoxide/sodiumoxide/pull/361#issuecomment-519459157

[2020-02-06 20:09] #412 closed

[2020-02-25 06:22] HoOngEe opened #414 "Necessity of key validation"
Sodiumoxide supports `from_slice`, `deserialize` for `SecretKey` type and `PublicKey` type. I utilized it to reconstruct keys from data read from secure `Keystore` or decoded from messages.
However, I'm worrying about breaking the invariant of the key type because keys are not just arbitrary byte arrays. I want to check the validity of the byte representations before invoking the method like `sign

[2020-02-25 09:10] dnaq commented on #414
Let me quote from the curve25519 paper

“Free key validation. Typical elliptic-curve-Diffie-Hellman functions can
be broken if users do not validate public keys; see, e.g., [14, Section
4.1] and [3].
A hash of the shared secret Curve25519(a, Curve25519(b, 9
 in this paper has size above 2
structures can be broken much more quickly by non-generic algorithms, but
E(Fp2) does not have those structure

[2020-02-26 04:41] HoOngEe commented on #414
Ok, I understood. I should have specified I'm working on the signature scheme. I read the code and the `Ed25519` paper. I misunderstood the secret key information possess the multiplier applied to the generator so I was worrying the case where a secret key is 256-bit but not a field element.
However, the secret key derives the multiplier in itself so I don't have to validate it; I understood all 3

[2020-02-26 04:42] #414 closed

[2020-03-01 14:09] noproto commented on #101
I'm curious if libsodium will adopt BLAKE3.

[2020-03-27 23:59] eliaslevy opened #415 "Cross compiling targeting 32-bit Windows on 64-bit Windows fails"
I have a project that makes use of this crate.  Compiling on a 64-bit Windows 10 host targeting `x86_64-pc-windows-msvc` succeeds.  Trying to cross compile on the same host targeting `i686-pc-windows-msvc` fails.

[code]

[2020-03-28 00:19] eliaslevy commented on #415
Looks for some reason the wrong architecture is being picked when configuring the library path:
[code]

[2020-03-28 00:21] kpp commented on #415
It is a known bug listed in https://github.com/sodiumoxide/sodiumoxide/issues/377

[2020-03-28 15:19] eliaslevy commented on #415
Thanks.  I should have found that issue.  Apologies.  Closing.

[2020-03-28 15:19] #415 closed

[2020-04-07 13:25] zonyitoo commented on #386
What's the status of this issue? It is not fixed yet. @kpp

[2020-04-07 17:42] kpp commented on #386
@sodiumoxide/owners ^

[2020-05-24 20:35] jmacmahon opened #417 "Data from box opens is not zeroed on drop"
[box_::open](https://docs.rs/sodiumoxide/0.2.5/sodiumoxide/crypto/box_/curve25519xsalsa20poly1305/fn.open.html) and [sealedbox::open](https://docs.rs/sodiumoxide/0.2.5/sodiumoxide/crypto/sealedbox/curve25519blake2bxsalsa20poly1305/fn.open.html) return a `Vec<u8>` on success, which is not a newtype like `Key` etc., and therefore does not have the protection of being zeroed when being dropped (e.g.

[2020-06-29 06:29] ryankurte commented on #363
Possibly related to https://github.com/fortanix/rust-mbedtls/pull/63, no solution as yet </3

[2020-06-29 12:06] kpp commented on #363
I suggest you ask jedisct1 whether it's possible

[2020-06-29 13:26] jedisct1 commented on #363
[As documented](https://doc.libsodium.org/installation#cross-compiling), all you need is `--specs=nosys.specs` in the linker flags.

[2020-06-30 01:20] ryankurte commented on #363
Unfortunately this does not appear to be the case, I have fixed a bunch of the `sodiumoxide` specific issues in #422 however no combination of `LDFLAGS=--specs=nosys.specs` or `--disable-pie` appears to have any effect on the behaviour of `./configure`.

Running against #442 with:
[code]

Then inserting logging and a panic in `libsodium_src/build.rs` to show the `./configure` and build invocations

[2020-06-30 01:30] ryankurte commented on #363
It appears the version of libsodium contained in this repo () contains a `configure` file, patching to remove [L7021](https://github.com/jedisct1/libsodium/blob/b69159b5f89b95930fb162a75bb3854f62eb536a/configure#L7021) stops `-fPIC` being included. As far as I can see that line checks whether `-fPIC` is available and then, applies it?

[2020-06-30 05:01] ryankurte commented on #363
I also tried patching `libsodium_sys/build.rs` to forward `--enable-pie=no` instead of `--disable-pie` based on the internals of the `libsodium/configure` file, this appears to have no effect.

[code]

[2020-06-30 06:05] jedisct1 commented on #363
The latest `1.0.18-stable` version disables PIE/PIC/SP/async-unwind for the `eabi` target, if it can help.

[2020-06-30 06:59] adamreichold commented on #363
c.f. #420

[2020-07-03 01:12] ryankurte commented on #363
i'm not sure what the detection for `eabi` is but does this also cover the `eabihf` case? (looking at the [commit](https://github.com/jedisct1/libsodium/commit/e04088d0b29f3d9f4575cb6d9c16b93a00bd1041) it would seem to depend whether this is derived from `HOST` or the compiler name?)

[2020-07-03 03:16] ryankurte commented on #363
Opened a PR expanding the match from `eabi` to `eabi*` which gets us building with only the additional `sodiumoxide` modifications in #422, thanks for the comments / attention.

[2020-07-05 14:49] maxcountryman opened #423 "Is `pwhash_verify` constant-time comparison?"
Glancing at the code, I'm not exactly sure how e.g. `argon2id13::pwhash_verify` is doing its comparison and if that comparison is constant-time.

[2020-07-05 15:51] adamreichold commented on #423
This API just forwards to libsodium's verification function documented here: https://doc.libsodium.org/password_hashing/default_phf#password-storage

Sadly, this is not documented there either, but looking up libsodium's implementation shows that `sodium_memcmp` is used to check the final hash and this is a constant-time implementation:
* [`crypto_pwhash_argon2id_str_verify`](https://github.com/je

[2020-07-05 16:05] #423 closed

[2020-07-05 16:36] maxcountryman commented on #423
Thank you for the detailed answer! Most appreciated. 🙂

[2020-07-19 11:57] tasn commented on #233
Update regarding Android:
I managed to build a rust library for Android and sodiumoxide seems to work!
To get it to build, I had to I had to set CC to the clang from the android NDK, in addition to the normal steps for Android cross-compilation. One gotcha to remember: make sure you are using an NDK that's compatible with the device you are testing on. I used a too-new of an NDK which caused it no

[2020-07-19 12:37] tasn commented on #365
Can this be closed since #351 has been merged?

[2020-07-19 12:39] tasn opened #424 "Release a new version"
Hey,

Thanks for the great work on this! There has been a few new features merged in to master since the last release. For example exposing `base64` and `kdf`. Would it be possible to make a new release so we can start using them?

Thanks,
Tom

[2020-07-19 12:40] kpp commented on #365
Fixed in https://github.com/sodiumoxide/sodiumoxide/pull/351

[2020-07-19 12:40] #365 closed

[2020-07-19 12:40] kpp commented on #424
Yes. Can you fill CHANGELOG and bump versions?

[2020-07-19 12:43] tasn commented on #424
Sure, I can help with that. Do you have a script to generate the changelog from the commit messages or are you doing it manually? In addition, do you just put everything in the changelog, or only some of the changes, if some, how can I decide what to put and what not?
Btw, what version should this be? Should I bump minor or micro?

I'm sorry for all the questions, it's just hard to know what's the

[2020-07-19 12:52] kpp commented on #424
I did it manually. I mentioned only significant changes and fixes. You can do it on your own, putting down meaningful titles of PRs.

[2020-07-19 13:18] tasn commented on #424
Done in #425. I hope it's OK.

Though I just realised this lib doesn't support the Ed25519 to Curve25519 key conversion functions, so I may not be able to use it. :|

[2020-07-19 13:22] kpp commented on #424
Thats right. This conversion is not supported by libsodium

[2020-07-20 06:07] tasn opened #426 "Support the sodium padding utility functions"
These ones: https://libsodium.gitbook.io/doc/padding

Thanks!

[2020-07-21 15:22] swilcox3 opened #427 "Build error on WSL 2 Ubuntu"
Cargo.toml:
[code]

I have `build-essential` and `clang` installed:
[code]
I'm running Ubuntu in Windows Subsystem for Linux version 2:
[code]
When I do a normal `cargo build` in my project, I get this output:
[code]
Full output is attached.
[output.txt](https://github.com/sodiumoxide/sodiumoxide/files/4954438/output.txt)

[2020-07-23 06:25] tasn opened #430 "Expose randombytes_buf_deterministic - very useful for writing tests"
https://libsodium.gitbook.io/doc/generating_random_data

[2020-07-26 05:37] sbillig commented on #424
@tasn you can use the (unsafe) crypto_sign_ed25519_pk_to_curve25519 and crypto_sign_ed25519_sk_to_curve25519 functions from the libsodium-sys crate.

[2020-07-26 08:45] tasn commented on #424
@sbillig, thanks for the tip!

P.S, I'm closing this ticket as a new version has been released.

[2020-07-26 08:45] #424 closed

[2020-07-30 06:17] tasn commented on #233
Another Android update: I'm now using it in a real project. It compiles fine to aarch64/armv7a/i686/x86_64 and I tested it on armv7a and it works great!

[2020-07-31 10:07] #430 closed

[2020-07-31 19:39] klittlepage commented on #374
For anyone hitting this thread now this was subsequently addressed in https://github.com/sodiumoxide/sodiumoxide/pull/418.

[2020-08-01 07:24] tasn commented on #430
Thanks a lot!

[2020-09-06 18:06] caass commented on #221
Hello! Is there any ongoing work on this issue? If not, I'd like to give it a try.

For an example use case, I'm trying to use this library with [juniper](https://github.com/graphql-rust/juniper), which will perform [automatic error conversion](https://graphql-rust.github.io/juniper/master/types/objects/error_handling.html#field-results) with anything that implements `std::fmt::Display`.

Creating

[2020-09-10 11:14] elovin opened #433 "Is sodiumoxide production ready or should I wait until a 1.x release ?"
I`m new to rust and coming from php (which has libsodium bindings built in) I would like to use this project,
however, the version of the latest release makes me hesitant to use this project in production.

Would you say that sodiumoxide is production ready ?

[2020-09-10 13:44] dnaq commented on #433
Yes. The reason for the 0.x version is that we probably want to add better error types to the api.

[2020-09-10 13:44] #433 closed

[2020-10-16 17:35] phi-fell opened #437 "Inconsistent compilation failure"
I'm attempting to use sodiumoxide and compilation fails with a rather large output (WSL Ubuntu 18.04 if relevant, this may be related to [another issue on WSL](https://github.com/sodiumoxide/sodiumoxide/issues/427) but my output is different enough and the inconsistency makes me think maybe not?)

What is especially weird is that after a few attempts, it compiles and runs just fine (and is then fi

[2020-10-16 17:40] dnaq commented on #437
Seems to be some ulimit (or the windows equivalent) issue, libtool fails to
fork when compiling. You might want to increase some process limits or if
it’s possible on walk raise your ulimits. I don’t think it has anything to
do with this library.

On Fri, 16 Oct 2020 at 19:36, phi-fell <notifications@github.com> wrote:

[2020-10-16 17:42] phi-fell commented on #437
Huh, okay thank you, I'll look into that.

[2020-10-16 17:42] #437 closed

[2020-11-15 20:32] dnaq opened #442 "Deprecating sodiumoxide?"
When I started this project many years ago I had two main reasons for it.

1. To learn rust
2. To make sure that one of the earlier cryptographic libraries for rust used vetted primitives and implementation (i.e. libsodium) to try to make it so that early rust projects used good cryptography, hoping to raise the security posture of rust code.

To put into perspective how long ago this was rust sti

[2020-11-15 21:41] kpcyrd commented on #442
There's a pending PR to fix the CI at #441 but I think it needs assistance by a repo admin. Reaching out to people with more bors experience is probably also a good idea.

The reason I'm not more active than I am (besides the fact that we can't merge anything) is because sodiumoxide is actually working well for me and I depend on it with multiple projects. If we're causing disruption in the ecosys

[2020-11-16 01:06] idtdy commented on #442
What are the other crypto crates of good quality? Personally I find this crate valuable because it doesn't have many dependencies.

[2020-11-16 16:14] Dylan-DPC commented on #442
I know we and personally me haven't been much active on this crate, but I would like to see it continue given the work we have put in and the users seem happy with it. We can start working on what's blocking a 0.3 release and work towards it

@kpcyrd made you maintainer of the organisation now (github changed their permissions in the last few weeks so i hope it is on par to the old admin settings

[2020-11-16 17:09] adamreichold commented on #442
While I have migrated most of my usage of this crate to those created as part of the [Rust Crypto project](https://github.com/RustCrypto), I also have to admit that I was unable to understand the choices offered there without significant additional reading. Hence I would say that the easy-to-use and hard-to-misuse API surface offered by libsodium and hence sodiumoxide does provide an important ser

[2020-11-20 19:46] dnaq commented on #442
I mainly opened this issue for discussion, but for me personally what I would like to see is the following.

1. Someone to take over the release keys, since I won't have time to upload releases to crates.io.
2. Issues being taken care of in a reasonable timeframe, or closed.
3. Merge requests being reviewed and approved or rejected in a reasonable timeframe.
4. Working CI.

If we can't do that I t

[2020-11-22 15:05] kpcyrd commented on #442
I've filed a rustc bug for our CI issue: https://github.com/rust-lang/rust/issues/79304

[2020-11-22 15:28] kpcyrd commented on #370
Closing since this issue has been inactive for quite a while and it seems the question has been answered, please reach out if this issue needs to be reopened!

[2020-11-22 15:28] #370 closed

[2020-11-22 15:30] kpcyrd commented on #171
Closing since this issue has been inactive for quite a while and it seems the question has been answered, please reach out if this issue needs to be reopened!

[2020-11-22 15:30] #171 closed

[2020-11-22 15:33] kpcyrd commented on #364
Closing since this issue has been inactive for quite a while and it seems the question has been answered, please reach out if this issue needs to be reopened!

[2020-11-22 15:33] #364 closed

[2020-11-23 15:54] kpcyrd commented on #442
We have a working CI/bors again due to the fixes in https://github.com/sodiumoxide/sodiumoxide/pull/443, sorry that it took so long.